
.MatcLightOld .MatcDialogThemed{
	background: #f2f2f2;
}

.MatcLightOld .MatcCanvas{
 	background: #bbb;
}

.MatcLightOld .MatcCanvas.MatcCanvasImageUploadDND .MatcCanvasContainer{
 	background: #ddd;
 	transition: background 0.3s;
}
 
 
.MatcLightOld .MatcCanvas.MatcCanvasImageUploadDND .MatcScreenDnD{
	background: rgba(255,255,255,0.5);
 	transition: background 0.3s;
}

.MatcLightOld .MatcCanvasImageUploadDND .MatcScreenDnD.MatcScreenDragOver{
	background: none;
}

.MatcLightOld .MatcCanvasContainer {
    background: #cccccc;
    box-shadow: none;
    transition: background 0.3s;
}


.MatcLightOld .MatcCanvasFrame {
	 background: #bbb;
}



.MatcLightOld .MatcScreen {
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.MatcLightOld .MatcCanvasWelcome{
	color:#999;
}

.MatcLightOld .MatcToolbar, 
.MatcLightOld .MatcStatus, 
.MatcLightOld .MatcStatusItem, 
.MatcLightOld .MatcToolbarTop{
	background: #fff;
	font-size: 12px;
	color:#555;
}


.MatcLightOld .MatcToobarLeft .MatcToolbarItem:hover,
.MatcLightOld .MatcToolbarTop .MatcToolbarItem:hover{
	color:#1973e8;
}


.MatcLightOld .MatcToobarPropertiesSection .MatcDashLabel,
.MatcLightOld .MatcToobarPropertiesSection .MatcDashRingValue{
	color:#555;
}

.MatcLightOld .MatcToobarPropertiesSection{
	background: #f2f2f2;
	font-size: 12px;
	color:#555;

}

.MatcLightOld .MatcToobarLeft{
	background: #fff;
	border-right: 1px solid rgba(0, 0, 0, 0.25)
}

.MatcLightOld .MatcStatusCntr{
	border-top: 1px solid rgba(0, 0, 0, 0.25)
}


.MatcLightOld .MatcToobarPropertiesSection{
	border-left: 1px solid rgba(0, 0, 0, 0.25)
}

.MatcLightOld .MatcToolbarLayerList.MatcToobarPropertiesSection{
	border-left: none;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	padding-top:39px;
}

.MatcLightOld .MatcToolbarTopCntr{
	border-bottom: 1px solid  rgba(0, 0, 0, 0.25);
}



.MatcLightOld .MatcScreenLabel{
	color:#555;
}
	
.MatcLightOld .MatcToolbarBigLabel{
	color:#777;
}


.MatcLightOld .MatcBorderStyleDashed, 
.MatcLightOld .MatcBorderStyleDotted, 
.MatcLightOld .MatcBorderStyleSolid {
	border-color: #555;
}

.MatcLightOld .MatcToolbarItem {
	color:#555;
}

.MatcLightOld .MatcToolbarItem:HOVER {
	color:#333;
}

.MatcLightOld .MatcToolbarItemDisbaled,
.MatcLightOld .MatcToolbarItem.MatcToolbarItemDisbaled:HOVER{
	color:#ddd;
	cursor: auto;
}

.MatcLightOld .MatcToolbar .glyphicons::before, 
.MatcLightOld .MatcToolbar .glyphicon {
	font-size: 16px;
	cursor: pointer;
}

.MatcLightOld .MatcToobarItemBig .glyphicons::before, 
.MatcLightOld .MatcToobarItemBig .glyphicon {
	font-size: 18px;
	cursor: pointer;
}


.MatcLightOld .MatcToobarPropertiesSection .glyphicons::before, 
.MatcLightOld .MatcToobarPropertiesSection .glyphicon {
	font-size: 14px;
}

.MatcLightOld .MatcToolbarAddSection{
	background-color: #555;	
}

.MatcLightOld .MatcToolbar .MatcToolbarAddSection:HOVER{
	background-color: #333;
	color:#fff;	
}

.MatcLightOld .MatcToobarItemBig .MatcToolbarItem:HOVER {
	color:#fff;
}

.MatcLightOld .MatcToolbarSection, 
.MatcLightOld .MatcToolbarSeperator { 
    border-right: 1px solid #ccc;
}

.MatcLightOld .MatcStatusItem {
	 border-left: 1px solid #ccc;
}

.MatcLightOld .MatcToobarPropertiesSection .MatcToolbarSectionLabel{
	background: #fff;
	color:#999;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	text-align:left;
	padding-left:16px;
}

.MatcLightOld .MatcAction .MatcToolbarSeparator {
	border-bottom:1px solid #ccc;
}

.MatcLightOld .MatcToolbarLayerList.MatcToobarPropertiesSection .MatcToolbarSectionLabel, 
.MatcLightOld .MatcToolbarLayerList.MatcToobarPropertiesSection .MatcToolbarSectionLabel:hover,
.MatcLightOld .MatcToobarPropertiesSection .MatcToolbarSectionLabel:HOVER,
.MatcLightOld .MatcToobarPropertiesSection .MatcToolbarSection:HOVER .MatcToolbarSectionLabel{
	background:#fff;
	color:#999;
}

.MatcLightOld .MatcToolbarSectionCollabsed  .MatcToolbarSectionLabel{
	border-bottom: none;
}
 
 .MatcLightOld .MatcLineSupportPointTouch{
 	background: #777;
 	border-color: #ccc;
 }



.MatcLightOld .MatcToobarPropertiesSection .VommondCheckBoxLabel, 
.MatcLightOld .MatcToobarPropertiesSection .MatcToolbarItemLabel,
.MatcLightOld .MatcToobarPropertiesSection .VommondRadioBoxLabel {
	color:#555;
}

.MatcLightOld .MatcToolbarTabs a {
	color:#555;
}

.MatcLightOld .MatcToolbarTabs a:HOVER {
	color:#333;
}



/****************************************************
 * Forms and Borders 
 ****************************************************/
 
 
 
 .MatcLightOld .MatcToolbarPopUp {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);  
 }
 
 .MatcLightOld .MatcToobarRemoveBtn {
 	color: #f83a3a;
 }
 
  .MatcLightOld .MatcToobarRemoveBtn:HOVER {
 	color: #cc0000;
 }
 
 .MatcLightOld .MatcBoxShadowIcon {
 	background: #777;
 }
 
.MatcLightOld .MatcToobarPropertiesSection .MatcToolbarDropDownButton:hover{
	border: 1px solid #777;
}

.MatcLightOld .MatcToobarPropertiesSection input {
	border: 1px solid #ccc;
	border-top:1px solid transparent;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	color:#555;
}

.MatcLightOld .MatcToobarPropertiesSection input:FOCUS{
	color:#333;
}

.MatcLightOld .MatcBoxBorder .MatcToolbarColor, 
.MatcLightOld .MatcBoxBorder .MatcToolbarInputDropDownButton,
.MatcLightOld .MatcBoxBorder .MatcToolbarDropDownButton {
	background: #f2f2f2;
	color:#555;
	border: 1px solid #777;
	background: #fff;
}

.MatcLightOld .MatcToolbar .MatcToolbarInputDropDownButton input{
	color:#555;
}

.MatcLightOld .MatcToolbarItemActive {
    background: none;
    color:#1973e8;
}

.MatcLightOld .MatcToobarPropertiesSection .MatcToolbarItemActive {
    background: #777 none repeat scroll 0 0;
    color:#ddd;
}


.MatcLightOld .MatcToolbarItemActive:HOVER {
    color:#fff;
}

.MatcLightOld .MatcToobarPropertiesSection .MatcToolbarToggleButton.MatcToolbarItemActive:hover{
	color:#fff;
}


.MatcLightOld .MatcToobarViewSection {
	background: #fff;
	border-top: 1px solid #ddd;
	border-left: 1px solid rgba(0, 0, 0, 0.25);
}


.MatcLightOld .MatcToolbarDropDownButtonItem{
	background-color: #f2f2f2;
}

.MatcLightOld .MatcToolbar .MatcToolbarDropDownButton li:HOVER,
.MatcLightOld .MatcToolbarDropDownButtonPopup li:hover{
	background: #555;
	color:#fff;
}

.MatcLightOld .MatchCanvasScrollHandle {
	background: #777;
}

.MatcLightOld .MatcCanvasScrollBarCntr:hover .MatchCanvasScrollHandle, 
.MatcLightOld .MatcCanvasScrollBarHandlerActive .MatchCanvasScrollHandle {
	background: #555;
}

.MatcLightOld .MatcBoxBorder .MatcToolbarColor.MatcToolbarItem, 
.MatcLightOld .MatcBoxBorder .MatcToolbarInputDropDownButton.MatcToolbarItem {
	border: 1px solid #777;
}

.MatcLightOld .MatcBoxBorderContainer {
	border: 1px solid #777;
}

.MatcLightOld .MatcBoxBorder:HOVER .MatcBoxBorderContainer, 
.MatcLightOld .MatcBoxBorder:HOVER .MatcToolbarColor.MatcToolbarItem,
.MatcLightOld .MatcBoxBorder:HOVER .MatcToolbarInputDropDownButton.MatcToolbarItem,
.MatcLightOld .MatcBoxBorder:HOVER .MatcToolbarDropDownButton{
	border: 1px solid #777;
}

/****************************************************
 * VAlign  
 ****************************************************/
 
.MatcToolbarValign{
	border-width: 1px solid transparent;
	width: 18px;
	overflow: hidden;
}

.MatcLightOld .MatcToolbarValignTop{
	border-top:1px solid #777;
}

.MatcLightOld .MatcToolbarValignMiddle{
	border-left:1px solid #777;
}

.MatcLightOld .MatcToolbarValignBottom{
	border-bottom:1px solid #777;
}

.MatcLightOld .MatcToolbarIcon-vertical{
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

.MatcLightOld .MatcToolbarIcon-vertical-bar{
	background-color: #555 ;
}

.MatcLightOld .MatcToolbarIcon-horizontal{
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

.MatcLightOld .MatcToolbarIcon-horizontal-bar{
	background-color: #555 ;
}

.MatcLightOld .MatcToobarPropertiesSection .MatcToobarInput{
	background: #fff;
	padding: 3px;
	border:1px solid #ddd;
}

.MatcLightOld .MatcScreenGridHandlex{
	border-color: #555 transparent transparent transparent;
}

.MatcLightOld .MatcScreenGridHandley{
	border-color: transparent transparent transparent #555;
}

.MatcLightOld .MatcScreenGridHandleDel.MatcScreenGridHandlex{
	border-color: red transparent transparent transparent;
}
.MatcLightOld .MatcScreenGridHandleDel.MatcScreenGridHandley{
	border-color: transparent transparent transparent red;
}


.MatcLightOld .MatcToolbarColorIndicator{
	border:1px solid rgba(0,0,0, 0.15)
}



.MatcLightOld .MatcToolbarResizeElement,
.MatcLightOld .MatcToolbarResizePreview{
    background: #fff;
    border: 1px solid #ddd;
}

.MatcLightOld .MatcToolbarResizePinLine{
    background: #999;
}

.MatcLightOld .MatcToolbarResizeActive .MatcToolbarResizePinLine{
    background: #1973e8;
}

.MatcLightOld .MatcToolbarResizePinCenter,
.MatcLightOld .MatcToolbarResizePinLeft,
.MatcLightOld .MatcToolbarResizePinRight,
.MatcLightOld .MatcToolbarResizePinUp,
.MatcLightOld .MatcToolbarResizePinDown{
    border-color: #999;
}

.MatcLightOld .MatcToolbarResizeActive.MatcToolbarResizePinCenter,
.MatcLightOld .MatcToolbarResizeActive.MatcToolbarResizePinLeft,
.MatcLightOld .MatcToolbarResizeActive.MatcToolbarResizePinRight,
.MatcLightOld .MatcToolbarResizeActive.MatcToolbarResizePinUp,
.MatcLightOld .MatcToolbarResizeActive.MatcToolbarResizePinDown{
    border-color: #1973e8;
}

.MatcLightOld .MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
.MatcLightOld .MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: #999;
}

.MatcLightOld .MatcToolbarResizeActive.MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
.MatcLightOld .MatcToolbarResizeActive.MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: #1973e8;
}


.MatcLightOld .MatcToolbarLayerListScreenLabel{
	border-bottom: 0px;
    background: none;
    color: #999;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding: 3px 30px;
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    position: relative;
    display: block;
    cursor: pointer;
}

.MatcLightOld .MatcToolbarSection:first-child .MatcToolbarLayerListScreenLabel{
	border-bottom: 1px solid #ddd;
}

.MatcLightOld .MatcToolbarSectionCollabsed .MatcToolbarLayerListScreenLabel,
.MatcLightOld .MatcToolbarSectionCollabsed.MatcToolbarSection:first-child .MatcToolbarLayerListScreenLabel{
	border-bottom: none;
}

.MatcLightOld .MatcTreeItem{
	color:#777;
}

.MatcLightOld .MatcToolbarColorIndicator{
	border:1px solid rgba(0,0,0, 0.15)
}