
.MatcClean .MatcDialogThemed{
	background: #f2f2f2;
}

.MatcClean .MatcCanvas{
 	background: #bbb;
}

.MatcClean .MatcCanvas.MatcCanvasImageUploadDND .MatcCanvasContainer{
 	background: #ddd;
 	transition: background 0.3s;
}
 
 
.MatcClean .MatcCanvas.MatcCanvasImageUploadDND .MatcScreenDnD{
	background: rgba(255,255,255,0.5);
 	transition: background 0.3s;
}

.MatcClean .MatcCanvasImageUploadDND .MatcScreenDnD.MatcScreenDragOver{
	background: none;
}

.MatcClean .MatcCanvasContainer {
    background: #cccccc;
    box-shadow: none;
    transition: background 0.3s;
}


.MatcClean .MatcCanvasFrame {
	 background: #bbb;
}



.MatcClean .MatcScreen {
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
}

.MatcClean .MatcToolbar, 
.MatcClean .MatcStatus, 
.MatcClean .MatcStatusItem, 
.MatcClean .MatcToolbarTop{
	background: #fff;
	font-size: 12px;
	color:#777;
}

.MatcClean .MatcToobarLeft .MatcToolbarItem:hover,
.MatcClean .MatcToolbarTop .MatcToolbarItem:hover{
	color:#1973e8;
}

.MatcClean .MatcToobarPropertiesSection .MatcDashLabel,
.MatcClean .MatcToobarPropertiesSection .MatcDashRingValue{
	color:#777;
}

.MatcClean .MatcToobarPropertiesSection{
	background: #f2f2f2;
	color:#777;
}

.MatcClean .MatcToobarLeft{
	background: #fff;
	border-right: 1px solid rgba(0, 0, 0, 0.25)
}

.MatcClean .MatcStatusCntr{
	border-top: 1px solid rgba(0, 0, 0, 0.25)
}


.MatcClean .MatcToobarPropertiesSection{
	border-left: 1px solid rgba(0, 0, 0, 0.25)
}

.MatcClean .MatcToolbarLayerList.MatcToobarPropertiesSection{
	border-left: none;
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	padding-top:39px;
}

.MatcClean .MatcToolbarTopCntr{
	border-bottom: 1px solid  rgba(0, 0, 0, 0.25);
}

.MatcClean .MatcScreenLabel{
	color:#555;
}
	
.MatcClean .MatcToolbarBigLabel{
	color:#777;
}


.MatcClean .MatcBorderStyleDashed, 
.MatcClean .MatcBorderStyleDotted, 
.MatcClean .MatcBorderStyleSolid {
	border-color: #777;
}

.MatcClean .MatcToolbarItem {
	color:#555;
}

.MatcClean .MatcToolbarItem:HOVER {
	color:#333;
}

.MatcClean .MatcToolbarItemDisbaled,
.MatcClean .MatcToolbarItem.MatcToolbarItemDisbaled:HOVER{
	color:#ddd;
	cursor: auto;
}

.MatcClean .MatcToolbar .glyphicons::before, 
.MatcClean .MatcToolbar .glyphicon {
	font-size: 16px;
	cursor: pointer;
}

.MatcClean .MatcToobarItemBig .glyphicons::before, 
.MatcClean .MatcToobarItemBig .glyphicon {
	font-size: 18px;
	cursor: pointer;
}


.MatcClean .MatcToobarPropertiesSection .glyphicons::before, 
.MatcClean .MatcToobarPropertiesSection .glyphicon {
	font-size: 14px;
}

.MatcClean .MatcToolbarAddSection{
	background-color: #555;	
}

.MatcClean .MatcToolbar .MatcToolbarAddSection:HOVER{
	background-color: #333;
	color:#fff;	
}

.MatcClean .MatcToobarItemBig .MatcToolbarItem:HOVER {
	color:#fff;
}

.MatcClean .MatcToolbarSection, 
.MatcClean .MatcToolbarSeperator { 
    border-right: 1px solid #ccc;
}

.MatcClean .MatcStatusItem {
	 border-left: 1px solid #ccc;
}

.MatcClean .MatcToobarPropertiesSection .MatcToolbarSectionLabel{
	background: none;
	color:#555;
	border-top:1px solid #ccc;
	border-bottom:1px solid transparent;
	text-align:left;
	padding-left:16px;
	font-weight: 700;
}

.MatcClean .MatcToolbarLayerList.MatcToobarPropertiesSection .MatcToolbarSectionLabel, 
.MatcClean .MatcToolbarLayerList.MatcToobarPropertiesSection .MatcToolbarSectionLabel:hover,
.MatcClean .MatcToobarPropertiesSection .MatcToolbarSectionLabel:HOVER,
.MatcClean .MatcToobarPropertiesSection .MatcToolbarSection:HOVER .MatcToolbarSectionLabel{
	background:none;
	color:#555;
}

.MatcClean .MatcToolbarSectionCollabsed  .MatcToolbarSectionLabel{
	border-bottom: none;
}

.MatcClean .MatcAction .MatcToolbarSeparator {
	border-bottom:1px solid #ccc;
}

.MatcClean .MatcLineSupportPointTouch{
 	background: #777;
 	border-color: #ccc;
 }

 .MatcClean .MatcToobarPropertiesSection .MatcToolbarSection {
	margin-bottom: 20px;
}

.MatcClean .MatcToobarPropertiesSection .MatcToolbarSectionCollabsed.MatcToolbarSection{
	margin-bottom: 0px;
}


.MatcClean .MatcToobarPropertiesSection .VommondCheckBoxLabel, 
.MatcClean .MatcToobarPropertiesSection .MatcToolbarItemLabel,
.MatcClean .MatcToobarPropertiesSection .VommondRadioBoxLabel {
	color:#777;
}

.MatcClean .MatcToolbarTabs a {
	color:#777;
}

.MatcClean .MatcToolbarTabs a:HOVER {
	color:#555;
}



/****************************************************
 * Forms and Borders 
 ****************************************************/
 
 
 
 .MatcClean .MatcToolbarPopUp {
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.35);  
 }
 
 .MatcClean .MatcToobarRemoveBtn {
 	color: #f83a3a;
 }
 
  .MatcClean .MatcToobarRemoveBtn:HOVER {
 	color: #cc0000;
 }
 
 .MatcClean .MatcBoxShadowIcon {
 	background: #777;
 }
 
.MatcClean .MatcToobarPropertiesSection .MatcToolbarDropDownButton:hover{
	border: 1px solid #777;
}

.MatcClean .MatcToobarPropertiesSection input {
	border: 1px solid #ccc;
	border-top:1px solid transparent;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	color:#777;
}

.MatcClean .MatcToobarPropertiesSection input:FOCUS{
	color:#555;
}

.MatcClean .MatcBoxBorder .MatcToolbarColor, 
.MatcClean .MatcBoxBorder .MatcToolbarInputDropDownButton,
.MatcClean .MatcBoxBorder .MatcToolbarDropDownButton {
	background: #f2f2f2;
	color:#777;
	border: 1px solid #777;
	background: #fff;
}

.MatcClean .MatcToolbar .MatcToolbarInputDropDownButton input{
	color:#555;
}

.MatcClean .MatcToolbarItemActive {
    background: none;
    color:#1973e8;
}

.MatcClean .MatcToobarPropertiesSection .MatcToolbarItemActive {
    background: #777 none repeat scroll 0 0;
    color:#ddd;
}


.MatcClean .MatcToolbarItemActive:HOVER {
    color:#fff;
}

.MatcClean .MatcToobarPropertiesSection .MatcToolbarToggleButton.MatcToolbarItemActive:hover{
	color:#fff;
}


.MatcClean .MatcToobarViewSection {
	background: #fff;
	border-top: 1px solid #ddd;
	border-left: 1px solid rgba(0, 0, 0, 0.25);
}


.MatcClean .MatcToolbarDropDownButtonItem{
	background-color: #f2f2f2;
}

.MatcClean .MatcToolbar .MatcToolbarDropDownButton li:HOVER,
.MatcClean .MatcToolbarDropDownButtonPopup li:hover{
	background: #555;
	color:#fff;
}

.MatcClean .MatchCanvasScrollHandle {
	background: #777;
}

.MatcClean .MatcCanvasScrollBarCntr:hover .MatchCanvasScrollHandle, 
.MatcClean .MatcCanvasScrollBarHandlerActive .MatchCanvasScrollHandle {
	background: #555;
}

.MatcClean .MatcBoxBorder .MatcToolbarColor.MatcToolbarItem, 
.MatcClean .MatcBoxBorder .MatcToolbarInputDropDownButton.MatcToolbarItem {
	border: 1px solid #777;
}

.MatcClean .MatcBoxBorderContainer {
	border: 1px solid #777;
}

.MatcClean .MatcBoxBorder:HOVER .MatcBoxBorderContainer, 
.MatcClean .MatcBoxBorder:HOVER .MatcToolbarColor.MatcToolbarItem,
.MatcClean .MatcBoxBorder:HOVER .MatcToolbarInputDropDownButton.MatcToolbarItem,
.MatcClean .MatcBoxBorder:HOVER .MatcToolbarDropDownButton{
	border: 1px solid #777;
}

/****************************************************
 * VAlign  
 ****************************************************/
 
.MatcToolbarValign{
	border-width: 1px solid transparent;
	width: 18px;
	overflow: hidden;
}

.MatcClean .MatcToolbarValignTop{
	border-top:1px solid #777;
}

.MatcClean .MatcToolbarValignMiddle{
	border-left:1px solid #777;
}

.MatcClean .MatcToolbarValignBottom{
	border-bottom:1px solid #777;
}

.MatcClean .MatcToolbarIcon-vertical{
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
}

.MatcClean .MatcToolbarIcon-vertical-bar{
	background-color: #555 ;
}

.MatcClean .MatcToolbarIcon-horizontal{
	border-left: 1px solid #555;
	border-right: 1px solid #555;
}

.MatcClean .MatcToolbarIcon-horizontal-bar{
	background-color: #555 ;
}

.MatcClean .MatcToobarPropertiesSection .MatcToobarInput{
	background: #fff;
	padding: 3px;
	border:1px solid #ddd;
}

.MatcClean .MatcScreenGridHandlex{
	border-color: #555 transparent transparent transparent;
}

.MatcClean .MatcScreenGridHandley{
	border-color: transparent transparent transparent #555;
}

.MatcClean .MatcScreenGridHandleDel.MatcScreenGridHandlex{
	border-color: red transparent transparent transparent;
}
.MatcClean .MatcScreenGridHandleDel.MatcScreenGridHandley{
	border-color: transparent transparent transparent red;
}



.MatcClean .MatcToolbarResizeElement,
.MatcClean .MatcToolbarResizePreview{
    background: #fff;
    border: 1px solid #ddd;
}

.MatcClean .MatcToolbarResizePinLine{
    background: #999;
}

.MatcClean .MatcToolbarResizeActive .MatcToolbarResizePinLine{
    background: #1973e8;
}

.MatcClean .MatcToolbarResizePinCenter,
.MatcClean .MatcToolbarResizePinLeft,
.MatcClean .MatcToolbarResizePinRight,
.MatcClean .MatcToolbarResizePinUp,
.MatcClean .MatcToolbarResizePinDown{
    border-color: #999;
}

.MatcClean .MatcToolbarResizeActive.MatcToolbarResizePinCenter,
.MatcClean .MatcToolbarResizeActive.MatcToolbarResizePinLeft,
.MatcClean .MatcToolbarResizeActive.MatcToolbarResizePinRight,
.MatcClean .MatcToolbarResizeActive.MatcToolbarResizePinUp,
.MatcClean .MatcToolbarResizeActive.MatcToolbarResizePinDown{
    border-color: #1973e8;
}

.MatcClean .MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
.MatcClean .MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: #999;
}

.MatcClean .MatcToolbarResizeActive.MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
.MatcClean .MatcToolbarResizeActive.MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: #1973e8;
}


.MatcClean .MatcToolbarLayerListScreenLabel{
	font-weight: 700;
}

.MatcClean .MatcTreeItem{
	color:#777;
}
