.MactMainGradient{
    background: linear-gradient(30deg, #0E5CAD 0%,#79F1A4 100%); 
	background: linear-gradient(30deg, #0E5CAD 0%,#62D0A6 100%);
    Xbackground: linear-gradient(30deg, #0E5CAD 0%,#56A9FC 100%);
}