.MatcHelpDialog {
    width: 1000px;
    height: 700px;
}

.MatcHelp{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.MatcHelp a {
    display: inline-block;
    width: 100%;
    color:#777;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.MatcHelp a.MatcHelpSubTopic{
    padding-left: 20px;
}

.MatcHelp a:hover {
    color:#333;
    text-decoration: none;
}

.MatcHelp a.selected {
    color:#1973e8;
    text-decoration: none;
}

.MatcHelpTopics{
    width: 200px;
    overflow: auto;
    display: inline-block;
}

.MatcHelpTopicsCntr {
    overflow: auto;
}

.MatcHelpContent{
    display: inline-block;
    width: 800px;
    padding-right: 20px;
    margin-right: 20px;
    height: 100%;
    font-weight: 300;
}

.MatcHelpDialog .MatcHelpContentCntr{
    height: 600px;
    overflow: auto;
    padding-right: 20px;
}

.MatcHelpContentCntr iframe {
    margin-top: 30px;
}

.MatcHelpContent h2{
    font-size: 24px;
    font-weight: 400;
}

.MatcHelpContent h3{
    font-size: 18px;
    font-weight: 700;
}

.MatcHelpContentParagraph {
    margin-top: 50px;
    line-height: 2;
    font-size: 18px;
}

.MatcHelpContent .MatcButton{
    background: #1973e8;
    color: #fff;
    padding:2px 4px;
    font-size: 14px;
}