

 /****************************************************
 * Menu
 ****************************************************/


.MatcMainMenu{
	border:none;
	width:100%;
	top:0;
	background: none;
	border-bottom: none;
	padding-top: 8px;

}

.MatcMainMenuToolbar.MatcMainMenu{
	border:none;
}

a.is-logo{
	font-weight: 900;
	color: #fff!important;
}


.MatcMainMenuItem{
	padding: 12px;
	padding-bottom:12px;
 	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	letter-spacing: .5px;
	color:#363636

}


 .MatcMainMenuItem:FIRST-CHILD{
 	margin-left:-15px;
 }

.MatcMainMenuItem:HOVER,
.MatcMainMenuItem:FOCUS{
	text-decoration: none;
	color:#fff;

}

#mainMenuSignUpButton{
	color:#fff;
	background: rgba(255,255,255,0.2);
	border-radius: 3px;
	border:1px solid #fff;
}

#mainMenuSignUpButton:hover{
	background: rgba(255,255,255,0.35);
}

#mainMenuLoginButton{
	color:#fff!important;
}

.MatcMainMenuItemSelected{

	color:#fff;
}


/********************************************
 * The main menu in dark
 ********************************************/
.MatcMainMenuPublic.MatcMainMenu{
	border-bottom: 0px solid transparent;
	background: #fff;
}


.MatcMainMenuPublic .MatcMainMenuItem:HOVER,
.MatcMainMenuPublic .MatcMainMenuItem:FOCUS,
.MatcMainMenuPublic .MatcMainMenuItemSelected{
	text-decoration: none;
	color:#3787f2;
	background: none;
}



/********************************************
 * Menu small
 ********************************************/

.MatcMainMenuSmall .MatcMainMenuItem {
	font-size: 11px;
	color:rgba(255,255,255,0.6);
}

.MatcMainMenuSmall .MatcMainMenuItem:hover {
	font-size: 11px;
	color:rgba(255,255,255,1);
}

.MatcMainMenuSmall .MatcMainMenuItem:HOVER,
.MatcMainMenuSmall .MatcMainMenuItem:FOCUS,
.MatcMainMenuSmall .MatcMainMenuItemSelected{
	text-decoration: none;
	color:rgba(255,255,255,0.6);
}



/********************************************
 * Light Blue small
 ********************************************/
.MatcMainMenuFeatures.MatcMainMenu{
}

