.MatcPlanSelectorItemCntr{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


 .MatcPlanSelectorItem{
 	border:1px solid transparent;
  	border-radius: 3px;
    cursor: pointer;
    margin-bottom: 10px;
    display:inline-block;
    width:23%;
    padding: 10px 16px;
    position: relative;
    vertical-align: top;
    border:1px solid #cecece;
   	background: #f2f2f2;
   	transition:all 0.25s;
 }
 
 .MatcPlanSelectorItem:hover{
 	border:1px solid #777;
 }
 
 .MatcPlanSelectorItemSelected,  .MatcPlanSelectorItemSelected:hover{
 	border:1px solid #56A9FC;
 	background: #fff;
 }
 
 .MatcPlanSelectorItemRequested{
 	border:1px solid orange;
 	background: #fff;
 }
 
 .MatcPlanSelectorItemRequested .VommondCheckBoxHook{
 	border-color:orange;
 }
 
 
 .MatcPlanSelector .MatcPlanSelectorItem .VommondCheckBox{
 	position: absolute;
 	right:10px;
 	background:none;
 	border:none;
 }
 
 .MatcPlanSelectorItemName{
 	font-size: 30px;
 	text-align: center;
 }
 
 .MatcPlanSelectorItemCheck{
 	position: absolute;
 	top: 10px;
 	left:10px;
 }
 
 .MatcFadeOut{
 	opacity:0;
 	transition:all 0.25s;
	height:0px;
	margin-top:0px;
	overflow:hidden;
 }
 .MatcFadeInt{
 	opacity:1;
 	height:320px;
 	margin-top:60px;
 }
 
 .MactFlexCntr{
 	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
 }
 
 .MatcPlanMsg, .MatcPlanSelectorItemMsg{
 	color:orange;
 }
 
 .MatcPlanSelectorItemMsg{
 	text-align: center;
 	margin-top: 20px;
 	font-size:14px;
 }