.MatcToolbarLayerList{
	position: fixed;
	width:250px;
	height:100%;
	padding-top:40px;
	padding-bottom:25px;
	z-index: 91001;
	top: 0px;
	left: 40px;
	display: none;
}

.MatcToolbarLayerListScreenCntr{
}


.MatcLayerListVisible .MatcToolbarLayerList{
	display: block
}

.MatcToolbarLayerList.MatcToobarPropertiesSection .MatcToolbarSectionLabel {
	text-align: center;
	border: 0px;
}

.MatcLayerListWidget{
	cursor: pointer;
}

.XMatcLayerListVisible .MatcToobarLeft{
	left:200px;
}

.MatcToolbarLayerList.MatcToobarPropertiesSection{
	border-top:1px solid #1a1f23;
} 


.MatcToolbarLayerList .MatcToolbarSection {
    width: 100%;
	cursor: auto;
}

.MatcToolbarLayerListCntr{
	height: 100%;
	overflow: auto;
	padding-bottom: 30px;
}

.MatcToolbarLayerList.MatcToobarPropertiesSection .MatcToolbarSectionContent {
    padding: 0px;
    width: 100%;
}

.MatcToolbarLayerList .MatcToolbarSectionChevron {
    position: absolute;
    left: 5px;
    right:auto;
    top: 2px;
    width: 18px;
    
}

.MatcLayerListWidget{
	font-size: 12px;
   	height:30px;
   	padding-top:6px;
    padding-left: 10px;
    padding-right: 30px;
    color: #ddd;
    overflow: hidden;
    border-top:1px solid transparent; 
}

.MatcLayerListGroup{
	height:30px;
	font-size: 12px;
   	padding-top:6px;
    padding-left: 10px;
    padding-right: 30px;
    overflow: hidden;
    color: #ddd;
    border-top:1px solid transparent; 
}

.MatcLayerListGroupCntr .MatcLayerListWidget{
	 padding-left: 28px;
}

.MatcLayerListGroupCntr.MatcToolbarSectionCollabsed .MatcLayerListWidget{
	display: none;
}

.MatcLayerListGroupCntr.MatcToolbarSectionCollabsed .MatcLayerListGroupIcon{
	transform:rotate(-90deg);
	transform-origin: 50% 50%;
}

.MatcLayerListRowIcon{
	display: inline-block;
	width:20px;
	height:20px;
	color:#777;
	text-align: center;
	margin-right: 5px;
}


.MatcLayerListRowIcon.MatcLayerListGroupIcon{
	color:#ddd;
	transition:all 0.2s;
	cursor: pointer;
}

.MatcLayerListExpandIcon{
	cursor: pointer;
}
.MatcLayerListExpandIcon:hover{
	color:#1973e8;
}


.MatcLayerListRowLabel{
	vertical-align: center;
}

.MatcLayerListDragOver{
	border-top:3px solid #1973e8; 
}

.MatcLight .MatcToolbarLayerList.MatcToobarPropertiesSection{
	background:#f2f2f2;
	border-top: 0px solid #ccc;
}


.MatcToolbarLayerList.MatcToobarPropertiesSection .MatcToolbarSectionLabel{
	background: #242a30;
}



.MatcLight .MatcLayerListWidget,
.MatcLight .MatcLayerListGroup,
.MatcLight .MatcLayerListRowIcon.MatcLayerListGroupIcon{
	color:#555;
}


.MatcLayerListWidget:hover{
	background: rgba(0,0,0,0.2);
}

.MatcLight .MatcLayerListWidget:hover{
	background: #fff;

}

.MatcToolbarLayerListScreenLabel {
	border-bottom: 0px;
	background: none;
	color: #999;
	background: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	text-align: left;
	padding: 3px 30px;
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	position: relative;
	display: block;
	cursor: pointer;
}

.MatcToolbarSectionCollabsed .MatcToolbarLayerListScreenLabel{
	border-bottom: none;
}

.MatcDark .MatcToolbarLayerListScreenLabel{
	background: #242a30;
	border: none;
}
