@import '../variables.scss';

.MatcIconDropDown{
  display: inline-block;
  position: relative;


  a {
    color: $text_color;
  }

  .MatcQIcon {
    cursor: pointer;
    height: 32px;
  }
  .MatcDropDownPopUp{
    display: block;
    left: auto;
    right: 0px;
    width: 160px;
    overflow: hidden;
    top: calc(100% + 8px);

    a {
      padding: 4px 8px;
      display: flex;
      color: #363636;
      cursor: pointer;
      align-items: center;
      gap: 4px;
      &:hover{
        color: #fff;
        background: $primary_color;
      }
    }
  }


}