@import '../variables.scss';

.MatcIconDropDown{
  display: inline-block;
  position: relative;


  a {
    color: $text_color;
  }

  .MatcDropDownPopUp{
    display: block;
    left: auto;
    right: 0px;
    width: 160px;
    overflow: hidden;

    a {
      padding: 8px;
      display: block;
      color: #363636;
      cursor: pointer;

      &:hover{
        color: #fff;
        background: $primary_color;
      }
    }
  }


}