@import '../variables.scss';

.MatcLoginPage {
  font-size: 14px;
  height: 100vh;

}

.MatcLoginPageReset {
  background: linear-gradient(30deg, $color-red 0%, $color-red-dark 100%);
}

.MatcLoginPageDialog {
	position: fixed;
    transform: translateY(-50%) translateX(-200px);
	top:50%;
	left:50%;
}

.MatcLoginPageContainer {
	width: 400px;
	text-align: left;
	background: #fefefe;
	color: #333;
	border-radius: 5px;
	box-shadow: 0px 0px 24px rgba(0,0,0, 0.25);
  overflow: hidden;

    .MatcToolbarTabs.MatcToolbarTabsBig{
        text-align: center;
        padding: 8px;
    }
    
    .MatcToolbarTabs a {
        border-bottom-width: 2px;
        margin: 0px 5px;
        color: #333;
    }
    
    .MatcToolbarTabs a:HOVER {
        color: #3787f2;
    }


  .MatcLoginPageForm{
    height: 220px;
  }

  .MatcErrorLabel {
    height: 32px;
    padding: 8px 0px;
    display: block;
  }


  .MatcLoginWrapper {
    width: 300%;
    display: flex;
    align-items: stretch;
    transition: all 0.2s;

    &.login {
      transform: translateX(0);
    }

    &.signup {
      transform: translateX(-33.333%);
    }

    &.reset {
      transform: translateX(-66.667%);
    }
  }

  .MatcLoginContent {
    width: 33.3333%;
  }

  .MatcLoginPageSection {
    padding: 40px 40px;
  }

  .MatcLoginCallToAction {

    padding: 0;
    


  }


}
