
@import '../variables.scss';

 /****************************************************
 * Menu
 ****************************************************/
$menu_left_right_width: 256px;

.MatcHeader {
	width: 100%;
	height: $toolbar_height;

	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 14px;
	margin-bottom: $spacing-m;

	a{
		color: $text_color;
		font-weight: 600;
		&:hover {
			color: $primary_color;
		}
	}

	.MatcHeaderLogo {
		height: 16px;
		width: 16px;
	}

	.MatcHeaderRight {
		display: flex;
		align-items: center;

		justify-content: flex-end;
		height: 100%;
		padding: 0px $spacing-xl;
		gap: 16px;
		width: $menu_left_right_width;
	}

	.MatcHeaderCenter {
		display: flex;
		align-items: center;
		height: 100%;
		justify-content: space-between;

		.MatcHeaderCenterLeft {
			display: flex;
			align-items: center;
			height: 100%;
			gap: 32px;
			flex-grow: 1;
		}

		.MatcHeaderCenterRight {
			display: flex;
			align-items: center;
			height: 100%;
			gap: 32px;
		}

	}

	.MatcHeaderLeft {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0px $spacing-xl;
		gap: 8px;
		width: $menu_left_right_width;
	}

	
}

$mobile_gap: 24px;

@media (max-width: 1600px) {

	.MatcHeader {
		max-width: 1152px;
		margin-left: auto;
		margin-right: auto;
		gap: $mobile_gap;

		.MatcHeaderLeft {
			width: auto;
			padding: 0;
		}
		.MatcHeaderRight,
		.MatcHeaderCenter .MatcHeaderCenterLeft,
		.MatcHeaderCenter .MatcHeaderCenterRight {
			width: auto;
			padding: 0;
			gap: $mobile_gap;
		}
	}
	

}

