
@import '../variables.scss';

.MatcSurveySection {

  .MatcSearchForm {
    width: 200px;
  }

  table {

    font-size: $font-size-s;

    thead > tr > th {
      color: $text_color_dark;
      font-weight: 600;
      border:0px
    }

    .MatcSurveySectionTableBorderBottom{
      border-bottom: 1px solid #ddd;
    }

    .MatcSurveySectionTableAction {
      text-align: center;
      width: 80px;
    }

    .MatcSurveySectionTableGroupLabel {
      text-align: center;
    }

    .MatcSurveySectionTableLabel{
      width: 80px;
      text-align: left;
      text-overflow: ellipsis;
      text-wrap: nowrap;
      overflow: hidden;
    }


    .MatcSurveySectionTableNumber{
      width: 40px;
      text-align: center;
    }

    .MatcSurveySectionTableBorderLeft {
      border-left: 1px solid #ddd;
    }

    .MatcSurveySectionTableBorderRight {
      border-right: 1px solid #ddd;
    }

  }

  .MatcSurveySectionTableCntr{
    width: 100%;
    max-height: 800px;
    overflow: auto;

    .table>tbody>tr>td {
      border-top: 0px;
    }

    .table>tbody>tr.MatcSurveySectionTableSummary>td {
      border-top: 1px solid #ddd;
    }

   

    .tag {

      padding: 2px 10px;
      font-size: 14px;
      border-radius: 4px;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      background: rgba(55, 136, 242, 0.2549019608);
      color: $primary_color;
      gap: 8px;

      span {

      }
    }

  }
}

.MatcSurveyDialog {
  width: 90vw;
  height: 90vh;
}