.MatcToolbarSectionDesignSystemCntr {
	position: absolute;
	right:15px;
	top:2px;
	width: 18px;
	text-align:center;
	height: 18px;
  transition-duration: 0.2s;
	transition-property:transform;
}


.MatcToolbarSectionDesignSystemCntr:hover span{
	color: #3787f2;
}


/****************************************************
 * DesignTokenButton
 ****************************************************/

.MatcDesignTokenButton{

}

.MatcDesignTokenButton .MatcToolbarPopUp{
	width: 200px;
}

.MatcDesignTokenButtonPopup{
	width: 200px;
}



.MatcDesignTokenButtonHeader {
	border-bottom: 1px solid #ccc;
}

.MatcDesignTokenButtonPopup .MatcDesignTokenButtonPreviews {
	max-height: 200px;
	overflow: auto;
}

.MatcDesignTokenMixin {
	display: inline-block;
}


/****************************************************
 * Preview
 ****************************************************/

.MatcDesignTokenPreView {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.MatcDesignTokenPreView .MatcToolbarItemLabel {
	flex-grow: 1;
}


.MatcDesignTokenPreView .MatcToolbarColorIndicator {
	margin-right: 5px;
}


/****************************************************
 * DesignTokenList
 ****************************************************/

.MatcDesignTokenList label {
	background: none;
  color: #555;
  text-align: left;
  padding-left: 8px;
  font-weight: 700;
	margin-top: 16px;
	margin-top: 8px;
}


.MatcDesignTokenList .MatcToolbarSectionContent{
	margin-bottom: 16px;
}

.MatcDesignTokenList .MatcDesignTokenPreView{
		padding: 8px;
}

.MatcDesignTokenUnlink {
	opacity: 0;
}

.MatcDesignTokenUnlink {
	opacity: 0;
}

.MatcDesignTokenPreView:hover .MatcDesignTokenUnlink {
	opacity: 1;
}


/****************************************************
 * Dialog (FIXME:_ Removce
 ****************************************************/

.MatcDesignTokenDialog {
	width: 300px;
}

.MatcDesignTokenDialogListCntr {
	width:260px;
	height:400px;
	overflow: auto;
}

.MatcDesignTokenDialogListRow {
	display: flex;
	align-items: center;
}

.MatcDesignTokenDialogListCntr .MatcDesignTokenPreView{
	margin-top: 8px;
	margin-bottom: 8px;
}
