.MatcToolbarSectionDesignSystemCntr {
	position: absolute;
	right:15px;
	top:2px;
	width: 18px;
	text-align:center;
	height: 18px;
  transition-duration: 0.2s;
	transition-property:transform;
}



.MatcToolbarSectionDesignSystemCntr:hover span{
	color: #3787f2;
}


.MatcDesignTokenButton{

}

.MatcDesignTokenButton .MatcToolbarPopUp{
	width: 180px;
}

.MatcDesignTokenMixin {
	display: inline-block;
}

.MatcDesignTokenView {
	display: flex;
	align-items: center;
}


.MatcDesignTokenView .MatcToolbarColorIndicator {
	margin-right: 5px;
}

.MatcDesignTokenList label {
	background: none;
  color: #555;
  text-align: left;
  padding-left: 8px;
  font-weight: 700;
	margin-top: 16px;
	margin-top: 8px;
}

.MatcDesignTokenList .MatcToolbarSectionContent{
	margin-bottom: 16px;
}