/****************************************************
 *  Toolbar
 ****************************************************/

 .MatcToolbar {

 }

.MatcToolbar .vommondToolTip {
	z-index: 90010;
}

.MatcToolbar .vommondToolTipLabel,
.MatcToolbar .vommondToolTipArrow {
	background: $primary_color;
}

.MatcToolbarHintCntr {
	display: inline-block;
	vertical-align: middle;
	min-width: 45px;
}

.MatcToolbarHintCntr .MatcToolbarItem {
	display: block;

}

.MatcToolbarHint {
	display: block;
	font-size: 10px;
	text-align: center;
}

.MatcToolbarItemDisbaled {
	cursor: auto;
}

.MatcToobarPropertiesSection .MatcToolbarItemPassive {
	opacity: 0.25;
}

.MatcToobarPropertiesSection .MatcToolbarItemStrikeThrough,
.MatcToobarPropertiesSection .MatcToolbarItemStrikeThrough:hover {
	opacity: 0.5;
	text-decoration: line-through;
}

.MatcToolbarItemHidden {
	display: none;
}

.MatcToolbarItemIcon {
	margin-right: 0px;
	margin-bottom: 0px;
}

/****************************************************
 * Analytic Toolbar
 ****************************************************/
.MatcAnalyticsToolbar .MatcToobarLeft {
	width: 230px;
	left: 0px;
	right: auto;
}


/****************************************************
 * Tooltip Section
 ****************************************************/

 .MatcTooltipSection, .MatcTooltipSettings {
	display: flex;
	flex-direction: column;
	gap: 8px;
 }

.MatcTooltipSettings span.caret {
	display: none;
}

.MatcToolbar .MatcTooltipSection .MatcTooltipSettings input,
.MatcDesignTokenListPopup .MatcDesignTokenListPopupSection .MatcTooltipSettings input {
	width: 100%;
	text-align: left;
}

.MatcTooltipSettings .MatcToolbarItemLabel {
	margin-left: 7px;
	margin-right: 10px;
	line-height: 1;
}

/****************************************************
 * Data Section
 ****************************************************/
.MatcDataSection span.caret {
	display: none;
}

.MatcToobarPropertiesSection .MatcDataSection .MatcToolbarItemLabelHack {
	margin-left: 0px;
}

.MatcToobarPropertiesSection .MatcDataSection .MatcToolbarDropnDownSmall {
	width: 24px;
	min-width: auto;
}

.MatcToolbar .MatcDataSection .MatcToolbarInputDropDownButton input {
	width: 100%;
	padding-left: 0px;
}

.MatcToobarPropertiesSection .MatcDataSection .MatcToolbarItem {}

.MatcDataSectionDialog {
	min-height: 200px;
}

.MatcDataSettingsPopUp {
	font-size: 14px;
}


/****************************************************
 * Create Button?
 ****************************************************/

.MatcDateSectionIconCntr {
	width: 100%;
}

.MatcDateSectionIconCntrOverflow {
	height: 450px;
	overflow: auto;
}

.MatcDateSectionIconCntr table {
	width: 100%;
}

.MatcDateSectionIconCntr .mdi {
	padding: 10px;
	margin: 9px;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
	font-size: 24px;
}

.MatcDateSectionIconCntr .selected {
	background: $primary_color;
	color: #fff;
}

/****************************************************
 * Action Button
 ****************************************************/

.MatcChildSectionChild {
	cursor: pointer;
}

.MatcChildSectionChild.MatcToolbarItem {
	height: auto;
	padding-top: 0px;
	padding-bottom: 5px;
}



/****************************************************
 * Create Button
 ****************************************************/

.MatcCreateBtnCntr {
	width: 75vw;
	max-width: 1200px;
}


/****************************************************
 *  Analytic Stuff
 ****************************************************/
.MatcToobarPropertiesSection .MatcDashLabel {
	font-size: 12px;
	height: auto;
	margin-bottom: 5px;
}

.MatcToobarPropertiesSection .MatcDashRingValue {
	font-size: 20px;
}

.MatcToobarRowIconCntr {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.MatcToobarRowRightIcon {
	color: #777;
	cursor: pointer;
}

.MatcToobarRowRightIcon:HOVER {
	color: $primary_color;
}

.MatcToolBarNumberCntr {
	display: inline-block;
	width: 140px;
	height: 100px;
}

.MatcToolbarBigLabel {
	font-size: 70px;
	line-height: 1;
}

.MatcToolbarDetailLabel {
	font-size: 14px;
	font-size: italic;
	line-height: 1;
}


.MatcToolbar .MatcHelpIcon {
	font-size: 15px;
	vertical-align: top;
	cursor: pointer;
}


/****************************************************
* Popup Tabs
****************************************************/
.MatcToolbarPopUp .MatcToolbarTabContainer {
	padding: 0px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.MatcToolbarPopUp .MatcToolbarTabContainer a{
	margin: 0px;
	border-bottom: 2px solid transparent;
	margin-bottom: -1px;
	padding: 5px 15px;
}



.MatcToolbarPopUp .MatcToolbarTabContainer a.MatcToolbarTabActive{
	border-bottom: 2px solid $primary_color;
	color: $gray_3;
}


/****************************************************
 * Analytics
 ****************************************************/



/****************************************************
 * SIm Button
 ****************************************************/

.MatcToobarPrimaryButton {
	background: $primary_color;
	color: #fff;
	padding: 4px 16px;
	border-radius: $button_radius;
	height: 28px;
	display: flex;
	align-items: center;
}

.MatcToobarPrimaryButton:hover {
	background: $primary_color_hover;
}