
.MatcDark {

    .MatcToobarViewSection .MatcToolbarItem:hover {
        color: #ccc;
    }

    .MatcToolbarArrowDropDown .MatcToolbarPopUp li.MatcToolbarArrowDropDownItem:hover {
        background: $primary_color;
        color: #fff;
    }

    .MatcToolbarArrowDropDown .MatcToolbarPopUp {
        background:$popup_background_dark;
        color:#fff;
        border: 1px solid $toolbar_border;
        box-shadow: none;
        top: calc(100% + 2px);

        .MatcToolbarPopUpArrow{
            background: $popup_background_dark;
            display: none;
        }
        
        .MatcToolbarPopUpLine {
            border-top: 1px solid $toolbar_border;
        }

        .MatcToolbarPopUpSubMenu {
            background:$popup_background_dark;
            color:#fff;
            border: 1px solid $toolbar_border;
            box-shadow: none;
            left: calc(100% + 1px);

            .MatcToolbarPopUpArrow{
                background: $popup_background_dark;    
            }
        }

        .MatcCreateBtnElement {
            background: $toolbar_background;
        }

        .MatcCreateSearch {
            background: none;
            border-radius: $button-radius;
            border-color: $toolbar_border;
        }

        .MatcCreateSearch:focus {
            background: $toolbar_background;
            color: #fff;
        }

        .MatcCreateCatCntr li {
            border-radius: $button-radius;
            padding: 8px;
        }

        .MatcCreateCatCntr li a{
           color: #fff; 
        }

        .MatcCreateCatCntr li.MatcSelected{
           
        }
        .MatcCreateCatCntr li.MatcSelected a{
            color: $primary_color;
        }

        .MatcCreateCatCntr li a:hover{
            color: $primary_color-hover
         }
    
        .MatcCreateBtnElementLabel {
            color:#fff;
        }
    
    }

    .MatcToobarViewSection {
        border-top: 1px solid $toolbar_border;
        background: $toolbar_background;
    }



    .MatcToobarPropertiesSection .MatcToolbarSectionLabel {
        border-top: 1px solid $toolbar_border;
        background: none;
        color: #777;
    }
    
    .MatcToobarPropertiesSection .MatcToobarRowHover {
        border: 1px solid transparent;
    }
    
    .MatcToobarPropertiesSection .MatcToobarRowHover:hover {
        border: 1px solid #999;
    }
    
    .MatcToobarPropertiesSection .VommondCheckBoxLabel,
    .MatcToobarPropertiesSection .MatcToolbarItemLabel,
    .MatcToobarPropertiesSection .VommondRadioBoxLabel {
        color: #ddd;
    }

    .MatcToolbarSeperator {

    }

    .MatcToolbarSectionLabel {
        color: #ddd;
    }

    .XMatcToolbarItemSelected {
        background: $toolbar_selected_background;
        border-color: $toolbar_selected_background;
    }

    .MatcToobarPropertiesSection {

        .MatcToolbarDropDownButton:hover {
            border: 1px solid $toolbar_border;
        }
        

        .MatcToolbarItemActive {
            background: $toolbar_form_background_focus;
            border-color: $toolbar_border;
        }
    }


    
    
    
}
