
.MatcDark {

    .MatcToobarViewSection .MatcToolbarItem:hover {
        color: #ccc;
    }

    .MatcToolbarArrowDropDown .MatcToolbarPopUp li.MatcToolbarArrowDropDownItem:hover {
        background: $primary_color;
        color: #fff;
    }

    .MatcToolbarArrowDropDown .MatcToolbarPopUp {
        background:$popup_background_dark;
        color:#fff;
        border: 1px solid $toolbar_border;
        box-shadow: none;
        top: calc(100% + 2px);

        .MatcToolbarPopUpArrow{
            background: $popup_background_dark;
            display: none;
        }
        
        .MatcToolbarPopUpLine {
            border-top: 1px solid $toolbar_border;
        }

        .MatcToolbarPopUpSubMenu {
            background:$popup_background_dark;
            color:#fff;
            border: 1px solid $toolbar_border;
            box-shadow: none;
            left: calc(100% + 1px);

            .MatcToolbarPopUpArrow{
                background: $popup_background_dark;    
            }
        }

        .MatcCreateBtnElement {
            background: $toolbar_background;
        }

        .MatcCreateSearch {
            background: none;
            border-radius: $button-radius;
            border-color: $toolbar_border;
        }

        .MatcCreateSearch:focus {
            background: $toolbar_background;
            color: #fff;
        }

        .MatcCreateCatCntr li {
            border-radius: $button-radius;
            padding: 8px;
        }

        .MatcCreateCatCntr li a{
           color: #fff; 
        }

        .MatcCreateCatCntr li.MatcSelected{
           
        }
        .MatcCreateCatCntr li.MatcSelected a{
            color: $primary_color;
        }

        .MatcCreateCatCntr li a:hover{
            color: $primary_color-hover
         }
    
        .MatcCreateBtnElementLabel {
            color:#fff;
        }
    
    }

    .MatcToobarViewSection {
        border-top: 1px solid $toolbar_border;
        background: $toolbar_background;
    }


    .MatcToolbarSeperator {

    }

    .MatcToolbarSectionLabel {
        color: #ddd;
    }

    .XMatcToolbarItemSelected {
        background: $toolbar_selected_background;
        border-color: $toolbar_selected_background;
    }

    .MatcToobarPropertiesSection {

        .MatcToolbarSectionLabel {
            border-top: 1px solid $toolbar_border;
            background: none;
            color: $toolbar_sub_label_color;
        }

        .VommondCheckBoxLabel,
        .MatcToolbarItemLabel,
        .VommondRadioBoxLabel {
            color: #ddd;
        }

        .MatcToobarRowHover {
            border: 1px solid transparent;

            &:hover {
                border: 1px solid $toolbar_form_border;
            }
        }
        

        .MatcToolbarDropDownButton:hover {
            border: 1px solid $toolbar_form_border;
        }
        
        .MatcToobarInput,
        input.MatcToobarInlineEdit,
        .MatcToolbarSlider input {

            &:hover {
                border-color: $toolbar_form_border_hover;
            }

            &:focus {
                border-color: $toolbar_form_border_focus;
            }
        }

        .MatcToolbarItemActive {
            background: $toolbar_form_background_focus;
            border-color: $toolbar_border;
        }
    }

    .MatcToolbarLayerListScreenLabel{
        border-top: 1px solid #555;
        color: #ddd;
    }

    .MatcDesignTokenList label,
    .MatcDesignTokenList .MatcToolbarItemIcon{
	    color:#ddd;
    }
    
    
    .MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive {
        background: $primary_color;
        color: #fff;
    }

    .MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive:hover {
        background: $primary_color-hover;
        color: #fff;
    }

    
}
