
/****************************************************
 * LowCode
 ****************************************************/
.MatcToolbarLowCode .MatcToolbarDropDownButtonLabel{
	width: 150px;
}

.MatcBoxSizeLink {
	cursor: pointer;
}




/****************************************************
 * Notification
 ****************************************************/
.MatcToolbarPopUpOpen.MatcToolbarPopUp.MatcNotificationPopup{
	width:300px;
	left:auto;
	right:0px;
	overflow: hidden;
}

.MatcNotificationItem{
	text-align:left;
	padding:20px;
	padding-bottom:10px;
	width:100%;
}

.MatcNotificationItemClickable:HOVER {
	cursor: pointer;
	background: #eee;
}

.MatcNotificationItem:LAST-CHILD{
	margin-bottom:0px;
	border-bottom:none;
	padding-bottom:20px;
}

.MatcNotificationItem label.MatcNotificationItemTitle{
	display: block;
	font-size: 14px;
}

.MatcNotificationItemMessage{
	font-size: 12px;
	margin:0px;
}



.MatcNotificationBubble{
	position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    bottom: 5px;
    right: 22px;
    font-size:12px;
    color: #fff;
    background: red;
}

.MatcDialog.MatcDialogNotification{
	width:640px;
}
.MatcDialogNotificationVideo{
	text-align:center;
	margin-top:20px;

}

.MatcDialogNotificationContent{
	max-height:700px;
	overflow: auto;
	font-weight: 300;
}

/****************************************************
 * Image Postion
 ****************************************************/

 .MatcToolbarImagePositionCntr{
 	width:800px;
 	height:400px;
 	position:relative;
 	overflow: hidden;
 }

 .MatcSliderTable div{
 	height:30px;
 }

 .MatcToolbarImagePositionCanvas{
 	position:absolute;
 	display: inline-block;
 	width:100%;
 	height:100%;
 }

 .MatcToolbarImagePositionCrop{
 	position:absolute;
 	border:1px solid #999;
 	box-shadow: 0px 0px 0px 980px rgba(255,255,255,0.5);
 }

 .MatcToolbarImagePositionImg{
 	position:absolute;
 	background-position: 0 0;
 	background-repeat: no-repeat;
 	background-size: 100%;
 	height: 100%;
    width: 100%;
 }


/****************************************************
 * Downloader
 ****************************************************/
.MatcDownloader {
}

.MatcDownloaderSize {
	display: inline-block;
	width:70px;
}

.MatcDownloaderAction{
	display: inline-block;
	width:160px;
}

.MatcDownloaderType{
	display: inline-block;
	width:50px;
}

.MatcDownloaderSize .MatcToolbarDropDownButtonLabel{
	width:auto;
}

.MatcDownloaderCntr{
	width:0px;
	height:0px;
	overflow: hidden;
}


/****************************************************
 * Chart Settings
 ****************************************************/

.MatcChartAnimationSettings{
	width: 500px;
	height: 150px;
}

.MatcChartAnimationSettings .container{
  	margin: 0;
    padding: 0;
    width: 100%;
}

.MatcChartAnimationSettingsCntr{
	width: 150px;
	height: 150px;
	border:1px solid #fff;
    cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.MatcChartAnimationSettingsWrapper {
	height: 100%;
	width: 100%;
    position: relative;
}

.MatcActionSettingsAnimCntrPlaying, .MatcActionSettingsAnimCntr:hover{
	border:1px solid #3787f2;
}


/****************************************************
 * Action Settings
 ****************************************************/

.MatcActionSettings{
	width: 500px;
	height:150px;
}

.MatcActionSettings .container{
  	margin: 0;
    padding: 0;
    width: 100%;
}

.MatcActionSettingsAnimCntr{
	width:150px;
	height: 130px;
	border:1px solid #3787f2;
	overflow: hidden;
    position: relative;
    border-radius:3px;
    cursor: pointer;
}

.MatcActionSettingsAnimCntrPlaying, .MatcActionSettingsAnimCntr:hover{
	border:1px solid #3787f2;
}

.MatcActionSettingsPlay{
	font-size: 50px;
	color:#fff;
	transition-duration:0.2s;
}

.MatcActionSettingsPlay:HOVER, .MatcActionSettingsAnimCntr:hover .MatcActionSettingsPlay {
	text-shadow: 0 0 2px #fff;
}

.MatcActionSettingsScreenOld{
	background: #fff;
	height: 100%;
	width: 100%;
	position: absolute;
}

.MatcActionSettingsScreenNew{
	background: #3787f2;
	height: 100%;
	width: 100%;
	position: absolute;
}
/****************************************************
 * Action Button
 ****************************************************/

.MatcAction{
	width: 100%;
}

.MatcAction .MatcMultiActionDropDown.MatcToolbarDropDownButton{
	text-align: center;
	border:none;
	padding: 5px;
	transition: all 0.25s ease 0s;
}

.MatcToobarPropertiesSection .MatcToolbarFormularLabel {
	padding-left: 34px;
	text-align: left;
	width: 100%;
}



.MatcMultiActionDropDownPopup.MatcToolbarPopUp {
	width:200px;
	background: #3787f2;
	color:#fff;
}

.MatcMultiActionDropDownPopup.MatcToolbarPopUp .MatcToolbarPopUpArrow{
	background: #3787f2;
}

.MatcToolbarDropDownButtonPopup.MatcMultiActionDropDownPopup li:hover {
	background: #104488;
}

.MatcToolbarDropDownButtonPopup .MatcToolbarPopUpBackBtn{
	position: absolute;
	top: 10px;
    left: 10px;
	font-size: 20px;
	cursor: pointer;
}

.MatcToolbarDropDownButtonPopup .MatcToolbarPopUpBackBtn:hover{
	color: #3787f2;
}

.MatcMultiActionDropDown {
	display: flex;
	align-items: center;
	justify-content: center;
}

.MatcToobarPropertiesSection .MatcAction .MatcMultiActionDropDown.MatcToolbarDropDownButton:hover {
	border: none;
}

.MatcMultiActionDropDown .MatcButtonIconLabel{
	vertical-align: middle;
}

.MatcAction .MatcMultiActionDropDown.MatcToolbarDropDownButton:HOVER{
	border:none;
}

.MatcAction .MatcMultiActionDropDown.MatcToolbarDropDownButton .MatcToolbarItemIcon{
	width: auto;
	color:#fff;
}

.MatcAction .MatcMultiActionDropDown.MatcToolbarDropDownButton .caret{
	display: none;
}


.MatcAction .MatcToolbarDropDownButton .MatcToolbarItemIcon {
	width: 167px;
 	text-align: left;
}

.MatcToolbarDropDownButton.MatcToolbarGridFull .MatcToolbarItemIcon{
	width: 167px;
 	text-align: left;
	display: inline-flex;
	align-items: center;
}


.MatcToolbarColorWithHex.MatcToolbarColor .MatcToolbarItemIcon{
	width: 45px;
	text-align: left;
}

.MatcAction .MatcToolbarItem{
 	height: auto;
}

.MatcActionDropDownType{
	margin-right: 5px;
}

.MatcActionDropDownType{
	margin-left: 5px;
}

.MatcAction .MatcToolbarDropDownButton .MatcToolbarPopUp,
.MatcActionAnimProperties{
	width: 200px;
}

.MatcAction .MatcCenter{
	width: 100%;
}

.MatcActionRuleLabel{
	padding-left: 30px;
}



.MatcToobarActionCntr{
	position: relative;
}

.MatcToobarRemoveBtn{
	position: absolute;
	right:5px;
	top: 50%;
    transform: translateY(-50%) translateX(-50%);
    cursor: pointer;
  	transition: all 0.25s;
  	color:#ddd;
  	width:20px;
  	height:20px;
  	text-align:center;
}

.MatcToobarRemoveBtnTop {
	top:14px
}

.MatcToobarRemoveBtn:Hover{
	color:red;
}
.MatcToobarActionCntr:hover .MatcToobarRemoveBtn{
	opacity:1;
}

.MatcAction .MatcToolbarSeparator{
	border-bottom: 1px solid #333;
    margin-bottom: 10px;
    padding: 5px 10px;
    width: 100%;
    position: relative;
}

.MatcToolbarItemSubLabel{
	padding-left: 25px;
}

.MatcAction input.MatcToolbarTinyInput{
	width: 40px;
}



/****************************************************
 * Validation & Rule
 ****************************************************/
.MatcValidation, .MatcRule {
	width: 300px;
	height:360px;
}

.MatcValidation, .MatcRule .MatcHint {
	font-size: 14px;
}


.MatcRule .MatcDropDownPopUp,
.MatcValidation .MatcDropDownPopUp,
.MatcActionSettings .MatcDropDownPopUp{
	width: 100%;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.35);
}

.MatcValidation label, .MatcRule label{
	font-size: 16px;
}




/****************************************************
 * Action Section
 ****************************************************/
 .MatcToobarActionSelector {
	display: flex;	
	align-items: center;
	gap: 10px;
}

.MatcToobarActionSelector .MatcToolbarDropDownButton {
	width: auto;
	flex-grow: 1;
	text-align: left;
}


.MatcToobarActionSelector .MatcToolbarDropDownButton .MatcToolbarItemIcon{
    width: 90%;
}


.MatcToobarActionSelector .MatcToobarRemoveBtn {
	position: unset;
	transform: none;
}


/****************************************************
 * MatcWorkFlowSettings
 ****************************************************/
 .MatcWorkFlowSettings {
	 width: 520px;
	 display: flex;
	 gap: 20px;
	 align-items: flex-start;
 }

 .MatcWorkFlowSettingsSimple {
	 width: 300px;
 }

 .MatcWorkFlowSettingsSteps {
	 width: 130px;
 }

 .MatcWorkFlowSettingsSimple .MatcWorkFlowSettingsSteps{
	 display: none;
 }

 .MatcWorkFlowSettingsCntr {
	 flex-grow: 1;
 }

 .MatcWorkFlowSettings textarea {
	height: 120px;
}

/****************************************************
 * input
 ****************************************************/

.MatcToobarPropertiesSection input,
.MatcToobarPropertiesSection textarea{
	background: none;
	color: #ddd;
	font-size: 12px;
	line-height: 1em;
	padding: 5px;
	padding-left: 0px;
 	vertical-align: middle;
	outline: none;
	width: 100%;
	padding: 3px;
	border: 1px solid #555;
}

.MatcToobarPropertiesSection textarea{
	height: 48px;
}


.MatcToobarPropertiesSection input:focus,
.MatcToobarPropertiesSection textarea:focus{
	border-color: #777;
}

.MatcToobarPropertiesSection  input::-moz-selection{ /* Code for Firefox */
    color: #fff;
    background: #49c0f0;
}

.MatcToobarPropertiesSection  input::selection{
	color: #fff;
    background: #49c0f0;
}

.MatcToobarPropertiesSection input:FOCUS{
	color:#fff;
}

.MatcToolbar .VommondLabelCheckBox{
	vertical-align: middle;
	padding-bottom: 6px;
}

.MatcToolbar .VommondCheckBox,
.MatcToolbar .VommondRadioBox{
 	height:16px;
 	width:16px;
 	vertical-align: middle;
 	background: none;

}

.MatcToolbar .VommondRadioBox{
	padding: 3px;
	border: 1px solid #777;
}


.MatcToolbar .VommondRadioBoxListItem{
	text-align: left;
	display: flex;
	align-content: center;
}




/****************************************************
* Screen List
****************************************************/
.MatcToolbarScreenListDialog{
	height: 640px;
	width: 1200px;
}

.MatcToolbarScreenListDialogCntr{
	height: 520px;
}

.MatcToolbarScreenListPreviewWrapper{
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 20px;
	padding:15px;
	cursor: pointer;
}

.MatcToolbarScreenListPreview{
	overflow: hidden;
}

.MatcToolbarScreenListItem{

}



/****************************************************
* Padding
****************************************************/
.MatcBoxPadding{
	padding: 8px;
}
/****************************************************
* Border
****************************************************/

.MatcBoxBorder{
    display: block;
}

.MatcBoxBorderContainer{
	border: 1px solid #555;
	height: 70px;
    width: 150px;
    position: relative;
    padding: 0px;
    margin:15px;
	transition-duration: 0.2s;
	transition-property: border-color;
}

.MatcBoxBorder input{
	width: 40px;
	position: absolute;
	background: #414850;
	text-align: center;
}

.MatcBoxBorder .MatcToolbarItem{
	position: absolute;
}

.MatcBoxBorder .MatcToolbarItem .mdi{
	cursor: pointer;
}

.MatcBoxBorder .MatcDesignTokenMixin {
	position: absolute;
	width: 40px;
	height:24px;
}

.MatcBoxBorder .MatcToolbarColor,
.MatcBoxBorder .MatcToolbarInputDropDownButton{
	position: absolute;
	width: 40px;
	height:24px;
	border: 1px solid #555;
	background: #242a30;
}

.MatcToolbarInputDropDownButton .MatcToolbarInputDropDownButtonIcon{
	vertical-align: middle;
	margin-right: 4px;
}

.MatcBoxBorder .MatcToolbarDropDownButton{
	width: 40px;
	position: absolute;
	background: #242a30;
	text-align: center;
	padding:0px;
	height:24px;
	border: 1px solid #555;
}


.MatcBoxBorder .MatcToolbarColor.MatcToolbarItem,
.MatcBoxBorder .MatcToolbarInputDropDownButton.MatcToolbarItem{
 	width: 40px;
 	padding: 0px;
 	border: 1px solid #555;
}

.MatcBoxBorder .MatcToolbarColor .caret,
.MatcBoxBorder .MatcToolbarInputDropDownButton .caret,
.MatcBoxBorder .MatcToolbarDropDownButton .caret{
	display: none;
}

.MatcBoxBorder .MatcToolbarInputDropDownButton input{
	width: 40px;
	position: static;
	background: #414850;
	text-align: center;
	padding: 5px;
}

.MatcBorderStyle{
	width: 38px;
	padding:5px;
	height:14px;
}

.MatcToolbarPopUp .MatcBorderStyle{
	width: 60px;
}

.MatcBorderStyleSolid{
	border-top:3px solid #ddd;
	width: 30px;
	height: 1px;
}

.MatcBorderStyleDashed{
	border-top:3px dashed #ddd;
	width: 30px;
	height: 1px;
}

.MatcBorderStyleDotted{
	border-top:3px dotted #ddd;
	width: 30px;
	height: 1px;
}

.MatcToolbarPopUp .MatcBorderStyle div{
	border-top-color:#333;
}

/****************************************************
 * Fonts
 ****************************************************/

.MatcToolbarBold{
	font-weight: bold;
	width: 40px;
	text-align: center;
}

.MatcToolbarItalic{
	font-style: italic;
	width: 40px;
	text-align: center;
}

.MatcToolbarUnderline{
	text-decoration: underline;
	width: 40px;
	text-align: center;
}

.MatcToolbarUnderline:HOVER{
	text-decoration: underline;
}



.MatcToolbarPopUpContainer{
	padding: 10px;
}

/****************************************************
 * BoxShadow
 ****************************************************/



.MatcBoxShadowIcon{
	background: #ddd none repeat scroll 0 0;
    box-shadow: 2px 2px 2px #888;
    display: inline-block;
    height: 9px;
    width: 9px;
}


.MatcToolbarPopUp .MatcBoxShadowIcon{
	background: none repeat scroll 0 0 #333;
    box-shadow: 6px 6px 0px #cecece;
    display: inline-block;
    height: 24px;
    width: 24px;
}


.MatcBoxShadow td{
	padding: 15px;
}


.MatcBoxShadow td:HOVER{
	background: #f2f2f2;
}

.MatcBoxShadow2 .MatcToolbarItemLabel {
	text-align: left;
}


/****************************************************
 * Shadow Dialog
 ****************************************************/

.MatcBoxShadowDialog{
	width: 900px;
	height: 400px;
}

.MatcBoxShadowPreview{
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	margin-top: 60px;
}


.MatcSliderTable td{
	padding-bottom: 10px;
	padding-right:10px;
	padding-left:0px;
	height: 20px;
	font-size:14px;
	color:#555;
}



.MatcSliderTable .MatcBoxShadowSlider{
	height: 20px;
	width: 200px;
}

.MatcSliderTable .VommondSliderMarkContainer{
	display:none
}

.MatcSliderTable .VommondSliderContainer{
	height: 1px;
	background: #ccc;
}

.MatcSliderTable .VommondSliderBar{
	height: 3px;
	top:-1px;
	background: #3787f2;
}




.MatcSliderTable .VommondSliderMoving .VommondSliderBar{
	background: #3787f2;
}

.MatcSliderTable .VommondCheckBox{
	border-color:#ccc;
}


.MatcSliderTable .VommondSliderHandle{
	background: #fff none repeat scroll 0 0;
    border: 1px solid #3787f2;
    border-radius: 50%;
    height: 19px;
    width: 19px;
}



.MatcSliderTable .VommondSliderMoving .VommondSliderHandle{
	background: #3787f2;
	border:1px solid #3787f2;
}


.MatcSliderTable .MatcColorBox span{
	width: 20px;
	height: 20px;
	margin-bottom: 5px;
	margin-right: 10px;
}



.MatcSliderTable .MatcColorBox2 span {
	margin-right: 30px;
}

.MatcBoxShadowSliderLabel{
	width: 50px;
	border:1px solid #fff;
	color: #555;
}

/****************************************************
 * TextShadow
 ****************************************************/
.MatcTexShadowIcon{
	text-shadow: 4px 4px #cecece;
}

.MatcToolbarPopUp .MatcTextShadowIcon{
	font-size: 18px;
	display: inline-block;
	width: 26px;
}

.MatcTextShadow td{
	padding: 15px;
	text-align: center;
}

.MatcTextShadow td:HOVER{
	background: #cecece;
}

.MatcTextShadowPreview{
	width: 100px;
	margin-top: 60px;
	font-size: 30px;
}

.MatcTextShadowDialog{
	width:650px;
	heiht:350px;
}


/****************************************************
 * VAlign
 ****************************************************/

.MatcToolbarValign{
	border-width: 1px solid transparent;
	width: 18px;
	overflow: hidden;
}

.MatcToolbarValignTop{
	border-top:1px solid #ddd;
}

.MatcToolbarValignMiddle{
	border-left:1px solid #ddd;
}

.MatcToolbarValignBottom{
	border-bottom:1px solid #ddd;
}

/****************************************************
 * Popup
 ****************************************************/



.MatcToolbarPopUp{
	display: none;
	position: absolute;
	top: 100%;
	left:0px;
	text-align:left;
	z-index: 900000;
	padding: 0px;
	background: white;
	 box-shadow: 0 3px 12px rgba(0, 0, 0, 0.25);
	color:#333;
}

.MatcToolbarPopUp.MatcToolbarPopUpDialog{
	z-index: 9000000;
}

.MatcToolbarPopUpWide .MatcToolbarPopUp{

}

.MatcToolbarPopUpOpen.MatcToolbarPopUp{
	display: block;
	border-radius: 3px;
}

.MatcToolbarPopUpOpen.MatcToolbarPopUp.MatcToolbarPopupWithArrow{
	overflow: visible;
}

.MatcToolbarPopUpContainer{
	padding: 10px;
}

.MatcToolbarPopUpSection{
	margin-top:5px;
	margin-bottom: 10px;
	border-bottom:1px solid #ccc;
}

.MatcToolbarPopUpSection:last-child {
	border: none;
}

.MatcToolbarPopUpArrowCntr{
	height: 30px;
	width: 10px;
	overflow: hidden;
  position: absolute;
  left: 100%;
  top: 10px;
}

.MatcToolbarPopUpArrow{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: #fff;
	position: absolute;
	left:-10px;
	top:0px;
	transform:rotate(45deg);
}
/****************************************************
 * Popup footer
 ****************************************************/

.MatcToolbarPopupFooter{

	background:none;
	margin: 10px;
  padding-top: 10px;
  padding-left:10px;
  padding-right:10px;
  border-top: 1px solid #cecece;
  color:#555;
  margin-left: 0px;
  margin-right: 0px;
  cursor:pointer;
  text-align: center;
  font-size: 14px;
	display: flex;
  align-items: center;
  justify-content: center;
}

.MatcToolbarPopupFooter:hover{
	color:#333;
}

.MatcToolbarPopupFooterNone, .MatcToolbarPopupFooterIcon{
	height: 20px;
	width: 14px;
	display: inline-block;
	margin-right: 5px;
}

.MatcToolbarPopupFooterLabel{
	display: inline-block;

}



.MatcToolbarPopupFooter:hover .MatcToolbarPopupFooterNone, .MatcToolbarPopupFooter:hover .MatcToolbarPopupFooterIcon{
	color:red;
}


.MatcToolbar .MatcToolbarInputDropDownButton input{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0px solid #555;
    color: #ddd;
    font-size: 12px;
    line-height: 1em;
    padding: 0px;
    vertical-align: middle;
    width:30px;
    height: auto;
}

.MatcToolbarPopupFooter .MatcButtonBar{
	width: 100%;
}

/****************************************************
 * Toggle Button
 ****************************************************/
.MatcToobarPropertiesSection .MatcToolbarToggleButton{
	border: 1px solid transparent;
	transition-duration: 0.2s;
	transition-property: border-color;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.MatcToobarPropertiesSection .MatcToolbarToggleButton:hover{
	border: 1px solid #777;
}



/****************************************************
 * InlineEdit InputBoxes
 ****************************************************/

input.MatcToobarInlineEdit{
	transition-duration: 0.2s;
	transition-property: border-color;
}

input.MatcToobarInlineEdit:hover{
	border: 1px solid #999;
}

input.MatcToobarInlineEditDisabled:hover{
	border:1px solid transparent;;
	border-bottom: 1px solid #999;
	cursor: default;
}

input.MatcToobarInlineEditDisabled:focus{
	border:1px solid transparent;;
	border-bottom: 1px solid #555;
	cursor: default;
}


/****************************************************
 * DropDownTree
 ****************************************************/
.MatcToolbarDropDownTree {
	
}
/****************************************************
 * DropDown
 ****************************************************/

.MatcToolbarDropDownButton{
	display: inline-block;
	position: relative;
	padding-left: 5px;
}

.MatcToolbarDropDownButton .caret {
	opacity: 0.5;
	transition: all 0.25s;
}

.MatcToolbarDropDownButton:hover .caret {
	opacity: 1;
}


.MatcToolbarDropDownButtonPopup{
	font-size: 14px;
}

.MatcToobarPropertiesSection .MatcToolbarDropDownButton{
	border: 1px solid transparent;
	transition-duration: 0.2s;
	transition-property: border-color;
}

.MatcToobarPropertiesSection .MatcToolbarDropDownButton:hover{
	border: 1px solid #555;
}


.MatcToolbarPopupChildren{
	position: absolute;
	left:100%;
	top:0px;
}

.MatcToolbarDropDownButton label,
.MatcToolbarDropDownButtonPopup label{
	font-weight: 400;
	cursor: pointer;
	text-align: left;
	margin-bottom: 0px;
	line-height: 1;
}

.MatcToolbarDropDownButton .mdi{
	vertical-align: middle;
}

.MatcToolbarDropDownButton ul, .MatcToolbarDropDownButtonPopup ul{
	padding-left: 0px;
	min-width: 60px;
	margin-bottom: 0px;
	border-radius: 3px;
    overflow: hidden;
}

.MatcToolbarDropDownButtonExtraWide ul{
	width: 300px;
}

.MatcToolbarDropDownButtonWide ul{
	min-width: 220px;
}

.MatcToolbarDropDownButtonMiddle ul{
	min-width: 100px;
}

.MatcToolbarDropDownButton li{
	list-style: none;
	cursor: pointer;
	position: relative;
}

.MatcToolbar .MatcToolbarDropDownButton li,
.MatcToolbarDropDownButtonPopup li{
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	font-size: 14px;
	font-weight: 400;
	cursor: pointer;
	display: flex;
  align-items: center;

}

.MatcToolbar .MatcToolbarDropDownButton .MatcToolbarPopUpLine,
.MatcToolbarDropDownButtonPopup .MatcToolbarPopUpLine{
	border-top: 1px solid  #ccc;
	height: 1px;
	padding: 0px;
	border-left: none;
}

.MatcToolbarPopupSelected{
	background: #3787f2;
	color:#fff;
}

.MatcToolbarPopupChildMarker{
  	border-bottom: 4px solid transparent;
    border-left: 4px solid #333;
    border-top: 4px solid transparent;
    bottom: 50%;
    display: inline-block;
    height: 0;
    margin-left: 5px;
    position: absolute;
    right: 5px;
    top: 13px;
    vertical-align: middle;
    width: 0;
}

.MatcToolbarSelector{
	display: inline-block;
}

.MatcToolbarPopUpIcon{
	font-size: 16px;
	margin-right: 5px;
	line-height: 1;
}

.MatcToolbarPopUpIconTextShadow{
	text-shadow: 0 0 1px rgba(0,0,0,0.2);
}

.MatcToolbarPopUpIconSmall{
	position: absolute;
	top:10px;
	left:10px;
}

.MatcToolbarPopUpIconSmall.mdi{
	font-size: 12px;
}

.MatcToolbarPopUpIconDanger{
	color: #f83a3a;
}

.MatcToolbarDropDownButtonLabel{
	width: 100px;
	display: inline-block;
	line-height: 1;
	vertical-align: middle;
}

.MatcToolbarDropDownButtonLabel:nth-child(2){
	margin-left: 10px;
}

.MatcToolbarDropDownButtonDialog{
	padding: 20px;
}

.MatcToolbarDropDownButtonInlineEdit{
	width: 40px;
	border:none;
	border-bottom:1px solid #ccc;
	margin-left: 5px;
	margin-right: 5px;

}

.MatcToolbarDropDownButtonInlineEditPassive{
	background:none;
	border-bottom:1px solid transparent;

}

/****************************************************
 * DropDown Icon Button
 ****************************************************/

.MatcToolbarDropDownButton.MatcToolbarIconDropDownButton {
	width: 52px;
	text-align: left;
}

.MatcToolbarIconDropDownButton .MatcToolbarItemIcon .MatcToolbarDropDownButtonLabel {
	display: none;
}

/****************************************************
 *  BoxSize
 ****************************************************/
 .MatcBoxSize{

 }

 .MatcBoxSize input{
	width: 50px;
 }

 .MatcBoxSizeLink {
	padding: 5px 0px;
	width: 24px;
 }

.MatcBoxSize span{
 	display: inline-block;
    font-size: 12px;
    text-align: left;
    width: 20px;
 }


/****************************************************
 * Image upload
 ****************************************************/


.MatcImageUploadContainer{
	min-height: 300px;
	width: 710px;
	height: 300px;
	overflow: auto;
	border:4px dashed transparent;
}

.MatcImageUploadDND .MatcImageUploadContainer {
	border-color: #92c500
}


.MatcImageUpload .MatcUploader{
 	height: 70px;
	width: 70px;
	margin-top: 10px;
}

.MatcImageUpload .MatcUploader .MatcUploaderIcon.mdi{
	font-size: 50px;
}


.MatcImageUploadPreview{
	border: 1px solid transparent;
	height: 100px;
	width: 100px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;

    background-repeat: no-repeat;
    background-position: center center;
    position: relative;

    border:1px solid transparent;
    border-radius:3px;
    cursor: pointer;
}

.MatcImageUploadPreviewSelected{
	border:1px solid #999;
}

.MatcImageUploadPreview:Hover{
	opacity:0.8;
}

.MatcImageUploadPreviewVertical{
	 background-size: auto 90%;
}

.MatcImageUploadPreviewHorizontal{
	 background-size: 90% auto;
}

.MatcImageUploadRemove{
    border-radius: 50%;
    color: #333;;
    cursor: pointer;
    display: none;
    font-size: 24px;
    position: absolute;
    right: -12px;
    top: -12px;
	text-shadow: 0px 0px 10px rgb(255 255 255);
}

.MatcImageUploadRemove:HOVER{
	color: #f83a3a;
}

.MatcImageUploadPreview:Hover .MatcImageUploadRemove{
	display: inline-block;
}

.MatcImageUploadContainer .MatcHint,
.MatcCreateBtnRight .MatcHint{
	display: inline-block;
	font-size: 24px;
	color:#ccc;
	padding-top: 20px;
}


.MatcImageUploadPreview.MatcImageUploadAdd .mdi{
	padding-top:10px;
	font-size: 60px;
	color:#cecece;
	cursor: pointer;
}

.MatcImageUploadAdd:HOVER, 
.MatcImageUploadDND .MatcImageUploadAdd, 
.MatcToolbar .MatcImageUploadPreview.MatcImageUploadAdd:hover .mdi{
	color:#92c500
}

.MatcPopupErrorMsg{
	opacity:0;
	transition:all 0.3s;
	padding: 10px;
}

.MatcPopupErrorMsgVivisble{
	opacity:1;

	color:red;
}


.MatcImageUploadLabel{
	display: none;
}

.MatcImageUploadLabelVisible{
	display:block;
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	background: #fff;
}

.MatcImageUploadLabel .VommondProgressContainer{
	height: 30px;
	border-radius:3px;
	overflow: hidden;
}

.MatcImageUploadError{
	color:red;
}

/****************************************************
 * Border 2
 ****************************************************/

 .MatcBoxBorder2 {
	display: flex;
	align-items: center;
 }

.MatcBoxBorder2 .MatcToolbarInputDropDownButton input{
	text-align: center;
}

.MatcBoxBorder2 .MatcToolbarSlider{
	margin-left: 10px;
}

.MatcBoxBorder2 .caret{
	display: none;
}


.MatcToolbarBoxBorderSimple .MatcToolbarBoxBorderDetails{
	display: none;
}

.MatcToolbarBoxBorderNoDetails{
	display:none;
}

.MatcToolbarBoxBorderSimple .MatcToolbarBoxBorderNoDetails{
	display: block;
}

.MatcToolbarSectionCollabsed.MatcToolbarBoxBorderSimple .MatcToolbarBoxBorderNoDetails{
	display: none;
}


/****************************************************
 * ImageRotate
 ****************************************************/
.MatcImageRotate .MatcToolbarItem{
	padding-top: 8px;
	text-align: left;
}

/****************************************************
 * MatcToolbarSlider
 ****************************************************/

.MatcToolbarSlider{
	width: 150px;
	display: inline-block;
	vertical-align: middle;
}

.MatcToolbarSection .MatcToolbarSlider input{
	width: 35px;
	padding-left: 5px;
	vertical-align: middle;
	border:1px solid transparent;
	background: transparent;
}

.MatcToolbarSection .MatcToolbarSlider input:hover {
	border:1px solid #999;
}
.MatcToolbarSection .MatcToolbarSlider input:focus{
	border:1px solid #777;
}


.MatcToolbarSlider .MatcToolbarSliderCntr{
	height:40px;
	width: 100px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}

.MatcToolbarSlider .VommondSliderBar{
	height: 3px;
	top:-1px;
	background: #3787f2;
}

.MatcToolbarSlider .VommondSliderMoving .VommondSliderBar{
	background: #3787f2;
}

.MatcToolbarSlider .VommondSliderMarkContainer{
	display: none;
}

.MatcToolbarSlider .VommondSliderContainer{
	height: 1px;
	background: #999;
	top: 20px;
}

.MatcToolbarSlider .VommondSliderHandle{
		background: #555;
    border: 1px solid #555;
    border-radius: 50%;
    height: 11px;
		width: 11px;
		top:-5px;
}

.MatcToolbarSlider .VommondSliderMoving .VommondSliderHandle{
	background: #3787f2;
	border:1px solid #3787f2;
}

