

.MatcCreateSearch{
	color:#333;
	margin-bottom: 20px;
}

.MatcCreateSearch{
	color:#333;
}

.MatcToolbar .MatcCreateSearchBtn,
.MatcCreateSearchBtn{
	color:#ccc;
	font-size: 24px;
  padding: 5px;
  cursor: pointer;
}

.MatcCreateBtnLeft{

}

.MatcCreateSubCategory{

}

.MatcCreateImportCntr {
	height: 530px;
	overflow: auto;
	font-size: 14px;
	margin-bottom:20px;
	background: rgb(245, 245, 245);
    border: 1px solid #cecece;
    border-radius: 3px;
	padding: 16px;
}

.MatcCreateSubCategory h3{
	font-size: 18px;
}

.MatcCreateCatCntr{
	height: 550px;
	overflow: auto;
}


.MatcCreateBtnRight{
	border-right: 0px solid #cecece;
	height: 600px;
}

.MatcCreateBtnCntr .container{
	padding-left: 0px;
  padding-right: 0px;
}

.MatcCreateBtnElementList {
	overflow: auto;
}

.MatcCreateBtnElementList .MatcCreateBtnElement{
	display: inline-block;
	padding:10px;
	text-align: center;
	margin-bottom:10px;
	margin-right: 10px;
	vertical-align: top;
	cursor: pointer;
	position: relative;
}

.MatcCreateBtnElementLabel{
	color:#555;
	transition:all 0.2;
	height: 20px;
  overflow: hidden;
  width: 100%;
}


.MatcCreateBtnElement:hover .MatcCreateBtnElementLabel{
	opacity:1;
}

.MatcCreateBtnCntr .MatcCreateBtnElementPreview input{
	width: 100%;
}

.MatcCreateBtnElementPreview{
	width: 160px;
	height: 100px;
	overflow: visible;
	position: relative;
}



.MatcToolbar .MatcToolbarDropDownButton .MatcCreateBtnCntr li{
	margin-bottom: 4px;
	border:none;
	border-bottom:1px solid transparent;
	padding-left:0px;
}

.MatcToolbarDropDownButton .MatcCreateBtnCntr li a{
	color:#555;
}

.MatcToolbar .MatcToolbarDropDownButton .MatcCreateBtnCntr li:HOVER{
	background: none;
}
.MatcToolbar .MatcToolbarDropDownButton .MatcCreateBtnCntr li:HOVER a{
	color:#3787f2;
}

.MatcToolbarDropDownButton .MatcCreateBtnCntr li.MatcSelected a{
	color:#3787f2;
}

.MatcToolbarDropDownButton .MatcCreateBtnCntr li.MatcSelected{
	color:#3787f2;
}

.MatcToolbarDropDownButton .MatcCreateBtnCntr li:HOVER a,
.MatcToolbarDropDownButton .MatcCreateBtnCntr li.MatcSelected a{

}

.MatcCreateBtnCntr a:HOVER{
	text-decoration: none;
}


.MatcCreateBtn .MatcToolbarPopUpArrowCntr{
	top:75px;
	left: auto;
	right:100%;
}

.MatcCreateBtn .MatcToolbarPopUpArrowCntr .MatcToolbarPopUpArrow{
	left: auto;
	right:-10px;
}

.MatcCreateBtnRemove{
	position: absolute;
	display: none;
	color:#f83a3a;
	top:5px;
	right:5px;
}

.MatcCreateBtnElement:hover .MatcCreateBtnRemove{
	display: block;
}