.MatcToolbarEditMode {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;

	.MatcToolbarEditModeCntr {
		border: 1px solid $toolbar_form_border;
		background: $toolbar_form_background;
		border-radius: $button_radius;
		overflow: hidden;
	}

	a.MatcToolbarItem {
		font-size: 14px;
		display: inline-block;
		padding: 5px 16px;
		height: auto;
		transition: all 0.2s;
		border: 1px solid transparent;
		border-radius: 0px;
	}

	a.MatcToolbarEditModeActive {
		background: $toolbar_form_background_focus;
		color: #fff;
		&:hover {
			background: $toolbar_form_background_focus;
			color: #fff;
		}
	}
}