/****************************************************
 *  Toolbar
 ****************************************************/

.MatcToolbar .vommondToolTip {
	z-index: 90010;
}

.MatcToolbar .vommondToolTipLabel,
.MatcToolbar .vommondToolTipArrow {
	background: #3787f2;
}

.MatcToolbarHintCntr {
	display: inline-block;
	vertical-align: middle;
	min-width: 45px;
}

.MatcToolbarHintCntr .MatcToolbarItem {
	display: block;

}

.MatcToolbarHint {
	display: block;
	font-size: 10px;
	text-align: center;
}

.MatcToolbarItemDisbaled {
	cursor: auto;
}

.MatcToobarPropertiesSection .MatcToolbarItemPassive {
	opacity: 0.25;
}

.MatcToobarPropertiesSection .MatcToolbarItemStrikeThrough,
.MatcToobarPropertiesSection .MatcToolbarItemStrikeThrough:hover {
	opacity: 0.5;
	text-decoration: line-through;
}

.MatcToolbarItemHidden {
	display: none;
}

.MatcToolbarItemIcon {
	margin-right: 0px;
	margin-bottom: 0px;
}

/****************************************************
 * Analytic Toolbar
 ****************************************************/
.MatcAnalyticsToolbar .MatcToobarLeft {
	width: 230px;
	left: 0px;
	right: auto;
}


/****************************************************
 * Tooltip Section
 ****************************************************/

.MatcTooltipSettings span.caret {
	display: none;
}

.MatcToolbar .MatcTooltipSection .MatcTooltipSettings input,
.MatcDesignTokenListPopup .MatcDesignTokenListPopupSection .MatcTooltipSettings input {
	width: 100%;
	text-align: left;
}

.MatcTooltipSection .MatcToolbarGridFull {
	padding: 8px 5px;
}

.MatcTooltipSettings .MatcToolbarItemLabel {
	margin-left: 7px;
	margin-right: 10px;
	line-height: 1;
}

/****************************************************
 * Data Section
 ****************************************************/
.MatcDataSection span.caret {
	display: none;
}

.MatcToobarPropertiesSection .MatcDataSection .MatcToolbarItemLabelHack {
	margin-left: 0px;
}

.MatcToobarPropertiesSection .MatcDataSection .MatcToolbarDropnDownSmall {
	width: 24px;
	min-width: auto;
}

.MatcToolbar .MatcDataSection .MatcToolbarInputDropDownButton input {
	width: 100%;
}

.MatcToobarPropertiesSection .MatcDataSection .MatcToolbarItem {}

.MatcDataSectionDialog {
	min-height: 200px;
}

.MatcDataSettingsPopUp {
	font-size: 14px;
}


/****************************************************
 * Create Button?
 ****************************************************/

.MatcDateSectionIconCntr {
	width: 100%;
}

.MatcDateSectionIconCntrOverflow {
	height: 450px;
	overflow: auto;
}

.MatcDateSectionIconCntr table {
	width: 100%;
}

.MatcDateSectionIconCntr .mdi {
	font-size: 30px;
	padding: 10px;
	margin: 9px;
	cursor: pointer;
	display: inline-block;
	line-height: 1;
}

.MatcDateSectionIconCntr .selected {
	background: #3787f2;
	color: #fff;
}

/****************************************************
 * Action Button
 ****************************************************/

.MatcChildSectionChild {
	cursor: pointer;
}

.MatcChildSectionChild.MatcToolbarItem {
	height: auto;
	padding-top: 0px;
	padding-bottom: 5px;
}



/****************************************************
 * Create Button
 ****************************************************/

.MatcCreateBtnCntr {
	width: 75vw;
	max-width: 1200px;
}

.MatcToolbarArrowDropDown {
	display: inline-block;
}

.MatcToolbarArrowDropDown .MatcToolbarPopUp {
	top: calc(100% + 12px);
}

.MatcToolbarArrowDropDown .MatcToolbarPopUpLabel {
	width: 100px;
}

.MatcToolbarArrowDropDown .MatcToolbarPopUpWrapper {
	z-index: 2;
	position: relative;
}

.MatcToolbarArrowDropDown .MatcToolbarPopUpArrowCntr {
	top: -8px;
	left: 12px;
	right: 100%;
	height: 30px;
	width: 30px;
	z-index: 1;
}

.MatcToolbarArrowDropDown .MatcToolbarPopUpArrowCntr .MatcToolbarPopUpArrow {
	left: 0px;
	top: 3px;
}

.MatcScreenImportAdd .MatcScreenAddCntr {
	min-width: 600px;

}

.MatcScreenAddCntr .MatcHint {
	margin-bottom: 20px;
	font-size: 20px;
}

.MatcScreenAddCntr .MatcUploader {
	margin-top: 30px;
}

.MatcToolbarArrowDropDown li {
	position: relative;
}

.MatcToolbarArrowDropDown .MatcToolbarDropDownButtonPopup ul {
	overflow: visible;
}

.MatcToolbarArrowDropDown li .MatcToolbarPopUpSubMenu {
	color: #333;
	position: absolute;
	left: calc(100% + 10px);
	top: 0px;
	background: #fff;
	box-shadow: 0 3px 25px rgba(0, 0, 0, 0.35);
	z-index: 4;
}

.MatcToolbarArrowDropDown .MatcToolbarPopUpSubMenu .MatcToolbarPopUpArrowCntr {
	left: -7px;
	top: 6px;
}

.MatcToolbarArrowDropDown li.Seperator {
	border-top: 1px solid #333;
}

.MatcToolbarArrowDropDown .MatcToolbarPopUpSubMenu .MatcToolbarPopUpArrowCntr .MatcToolbarPopUpArrow {
	left: 3px
}

/****************************************************
 * Item DropDown
 ****************************************************/

.MatcToolbarDropDownButtonItem {
	border: 1px solid transparent;
	transition: all 0.2s;
	border-radius: 3px;
	background: #f2f2f2;
}

.MatcToolbarDropDownButtonItem:HOVER,
.MatcCreateBtnElementSelected.MatcToolbarDropDownButtonItem {
	border: 1px solid #3787f2;
}

.MatcToolbarDropDownButtonItem.MatcToolbarDropDownButtonItemRemove {
	background: $color-red-light;
	border-color: $color-red;
	color: $color-red;
}

.MatcToolbarDropDownButtonItem.MatcToolbarDropDownButtonItemRemove:hover {
	background: $color-red;
	border-color: $color-red-dark;
	color: #fff;
}


/****************************************************
 * Home Section
 ****************************************************/

.MatcToobarHomeSection {
	background: #3787f2;
	transition-duration: 0.25s;
}

.MatcToobarHomeSection:HOVER {
	background: #1251a3;
}

.MatcToobarHomeSection .MatcToolbarPopUp {
	width: 200px;
}

.MatcToolbar .MatcToobarHomeSection .MatcToolbarPopUp li {
	padding: 10px;
}

.MatcToolbar .MatcToobarHomeSection .MatcToolbarPopUp li.MatcToolbarPopUpLine {
	padding: 0px;
}



/****************************************************
 *  Analytic Stuff
 ****************************************************/
.MatcToobarPropertiesSection .MatcDashLabel {
	font-size: 12px;
	height: auto;
	margin-bottom: 5px;
	color: #ddd;
}

.MatcToobarPropertiesSection .MatcDashRingValue {
	font-size: 20px;
	color: #ddd;
}

.MatcToobarRowIconCntr {
	position: relative;
}

.MatcToobarRowRightIcon {
	position: absolute;
	right: 0px;
	top: 9px;
	color: #777;
	cursor: pointer;
}

.MatcToobarRowRightIcon:HOVER {
	color: #3787f2;
}

.MatcToolBarNumberCntr {
	display: inline-block;
	width: 140px;
	height: 100px;
	color: #ddd;
}

.MatcToolbarBigLabel {
	font-size: 70px;
	line-height: 1;
}

.MatcToolbarDetailLabel {
	font-size: 14px;
	font-size: italic;
	line-height: 1;
}


.MatcToolbar .MatcHelpIcon {
	font-size: 15px;
	vertical-align: top;
	cursor: pointer;
}


/****************************************************
* Popup Tabs
****************************************************/
.MatcToolbarPopUp .MatcToolbarTabContainer {
	padding: 0px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.MatcToolbarPopUp .MatcToolbarTabContainer a,
.MatcCode.MatcToolbarTabContainer a {
	color: #777;
	margin: 0px;
	border-bottom: 2px solid transparent;
	margin-bottom: -1px;
	padding: 5px 15px;
}

.MatcToolbarPopUp .MatcToolbarTabContainer a:HOVER {
	border-bottom: 2px solid #3787f2;
}

.MatcToolbarPopUp .MatcToolbarTabContainer a:HOVER {
	color: #3787f2;
}


.MatcToolbarPopUp .MatcToolbarTabContainer a.MatcToolbarTabActive,
.MatcCode.MatcToolbarTabContainer a.MatcToolbarTabActive {
	border-bottom: 2px solid #3787f2;
	color: #555;
}




/****************************************************
 * Analytics
 ****************************************************/

.MatcAnalyticsToolbar .MatcToolbarTopLeftCntr {
	gap: 16px;
	display: flex;
}



/****************************************************
 * SIm Button
 ****************************************************/

.MatcToobarSimulatorSection .MatcToobarPrimaryButton {
	background: #3787f2;
	color: #fff;
	padding: 4px 8px;
	border-radius: 3px;
	height: 26px;
	display: flex;
	align-items: center;
}

.MatcToobarSimulatorSection .MatcToobarPrimaryButton:hover {
	background: #1251a3;
}