/****************************************************
 * Home Section
 ****************************************************/

 .MatcToolbarDropDownButton.MatcToobarHomeSection {
	transition-duration: 0.25s;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
}

.MatcToobarHomeSection.MatcToobarHomeSectionBlue {
	background: $primary_color;
	margin: 0px;


	.MatcToolbarPrimaryItem {
		border: none;
		&:hover{
			background:  $primary_color-hover;
		}
	}

	.MatcToolbarItem {
		width: $toolbar_height;
		height: $toolbar_height;
	}

	&:HOVER, 
	.MatcToolbarItemActive{
		background:  $primary_color-hover;
	}


	img{
		width: 24px;
		height: 24px;
	}

}

.MatcToobarHomeSection img{
    width: 18px;
    height: 18px;
}




.MatcToobarHomeSection .MatcToolbarPopUp {
	width: 200px;
}

