.MatcToolbarLabel {
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px;
	margin-bottom: 0px;
}

.MatcToobarPropertiesSection .MatcToolbarSectionLabel {
	position: relative;
	text-align: left;
	padding-left: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.MatcToolbarSectionLabel {
	border-bottom: 1px solid transparent;
	padding: 3px 0px;
	display: block;
	text-align: center;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
}

.MatcToobarSubSectionLabel {
	padding: 3px 0px;
	display: block;
	font-weight: 400;
	font-size: 12px;
	cursor: pointer;
}

.MatcToolbarButton, 
.MatcToolbar .MatcToolbarButton {
	border: none;
	width:100%;
	text-align: center;
	font-size: 14px;
	background: $primary_color;
	text-decoration: none;
	color:#fff;
	height: 34px;
}

.MatcButton.MatcToolbarCloseButton {
	text-align: center;
	font-size: 14px;
	background: $primary_color;
	text-decoration: none;
	color:#fff;
	margin-top: -2px;
}

.MatcToolbarButtonPrimary {
	display: flex;
	align-items: center;
    justify-content: center;
	padding: 4px;
}


.MatcToobarPropertiesSection .MatcToobarInput::placeholder{
	font-style: italic;
	color: rgba(255, 255, 255, 0.35)
}

.MatcToobarPropertiesSection .MatcToobarInput{
	border-radius: $toolbar_form_radius;
}

.MatcToobarPropertiesSection .MatcToobarInput.MatcToobarNameInput {
	margin-left: -5px;
}


.MatcToobarInputIconCntr {
	position: relative;
}

.MatcToobarInputIconCntr .MatcToobarInputIcon {
	position: absolute;
	top: 8px;
	right: 10px;
	font-size: 16px;
}

/****************************************************
 * Combo
 ****************************************************/

 .MatcToobarPropertiesSection .VommondInput ul{
  border-radius:0px;
}

.MatcToobarPropertiesSection .VommondInput ul li{
	padding: 3px;
}

.MatcToobarPropertiesSection .VommondInput ul li.VommonInputSelected {
	background-color: $primary_color;
	color:#fff
}

.MatcToobarPropertiesSection .VommondInput ul li.MatcToobarInputAction {
	font-style: italic;
	color:#ccc;
}
 
 /****************************************************
 * ScreenImportButton
 ****************************************************/
.MatcScreenImportCntr {
	width: 250px;
	height: 250px;
	text-align: center;
}