
.MatcToobarPropertiesSection{
    background: $toolbar_background;
}

.MatcToolbarItemActive{
    background: $toolbar_selected_background
}

.MatcToolbarTop {
    background: $toolbar_background;
    border-bottom: 1px solid $toolbar_border;

    .MatcToolbarPrimaryItem {
        border: 1px solid $toolbar_border;
    }
    
    .MatcToolbarPrimaryItem:hover {
        background: $toolbar_selected_background;
        //border: 1px solid $toolbar_selected_background;
    }

    .MatcToolbarSecondaryItem {
        border: 1px solid transparent;
    }

    .MatcToolbarSecondaryItem:hover {
        background: $toolbar_selected_background;
        border: 1px solid $toolbar_selected_background;
    }
    
}


.MatcToolbarItem {
    color:#FFF;
}

.MatcToolbarItem:hover{
    color:#FFF;
}

.MatcToobarLeft .MatcToolbarItem:hover,
.MatcToolbarTop .MatcToolbarItem:hover{
    color:#fff;
}

.MatcToolbarItemDisbaled{
    color:#555;
}



.MatcToobarPropertiesSection .MatcToolbarItemActive{
    background: #242a30;
}

.MatcToolbarItem.MatcToolbarItemDisbaled:HOVER{
    color:#555;
}

.MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive {
    background: $primary_color;
    color: #fff;
}

.MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive:hover {
    background: $primary_color-hover;
    color: #fff;
}


.MatcToolbarResizeElement, 
.MatcToolbarResizePreview {
    border: 1px solid $toolbar_form_border;
    background: $toolbar_form_background_hover;
    border-radius: $toolbar_form_radius;
}


.MatcToolbarResizePin .MatcToolbarResizeActive,
.MatcToolbarResizePin .MatcToolbarResizeActive{
    color:$primary_color;
    border-color: $primary_color;
}


.MatcToolbarButton:HOVER{
	background: $primary_color_hover;
	border-color: $primary_color_hover;
}
