@import "../variables.scss";

.MatcAiChat {
  .MatcAiChatFooter {
    .MatcZoomableTextArea {
      height: 96px;
      width: 100%;

      .MatcZoomableTextAreaBackdrop {
        transition: all, 0.2s;
        height: 100%;
      }

      .MatcZoomableTextAreaIconInput {
        height: 100%;
        position: relative;
      }

      .MatcQIconSVG {
          width: 14px;
          height: 14px;
          transition: opacity 0.2s;
          opacity: 0.5;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
      }

      .MatcZoomableTextAreaCloseIcon {
        position: absolute;
        top: 4px;
        right: 4px;
      }

      .MatcZoomableTextAreaActionIcons {
        display: flex;
        align-items: center;
      }

      textarea {
        border-radius: $toolbar_form_radius;
        width: 100%;
        height: calc(100% - 24px);
        padding-bottom: 24px;
        scroll-padding: 24px;
      }

      .MatcZoomableTextAreaActionPopup {
        position: relative;
        margin-left: 4px;

        .MatcZoomableTextAreaActionPopupLabel {
          opacity: 0.5;
          cursor: pointer;
          font-size: $font-size-xxs;
          white-space: nowrap;
          transition: opacity 0.2s;
          margin-left: 8px;

          &:hover, &.MatcZoomableTextAreaActionPopupLabelActive {
            opacity: 1;
          }

         
        }

        .MatcZoomableTextAreaActionPopupMenu {
          position: absolute;
          bottom: calc(100% + 8px);
          left: 0%;
          margin: 0;
          min-width: 130px;
          list-style: none;
          border-radius: $popup_radius;
          box-shadow: $page_drop_shadow_more;
          z-index: 10;
          overflow: hidden;

          &::after {
            content: '';
            position: absolute;
            top: 100%;
            right: 12px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $popup_background;
          }

          li {
            padding: 6px 8px;
            font-size: $font-size-xxs;
            white-space: nowrap;
            cursor: pointer;
          }
        }
      }


    }
  }

  .MatcZoomableTextAreaMax .MatcZoomableTextAreaBackdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #33333374;
    display: flex;
    align-items: center;
    justify-content: center;

    .MatcZoomableTextAreaActionIcons {
      display: none;
    }

    .MatcZoomableTextAreaIconInput,
    .MatcZoomableTextAreaIconInput:hover,
    .MatcZoomableTextAreaIconInput.MatcToobarInputFocus {
      width: 400px;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1);
      background: #fff;
      height: 256px;
      border-radius: 8px;
      border: none;
    }
    textarea.MatcToobarInputBorder {
      height: 256px;
      border: 0px;
      border: none;
      padding: 16px;
      font-size: 16px;

      &:focus {
        background: none;
      }
    }
  }
}
