@import './bootstrap/min.css';
@import './material17/css/materialdesignicons.min.css';



.MatcLogoNew{
	background-image: url("../img/QUXLogo5.svg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 150px;
	width: 150px;
	max-width:300px;
}

.MatcSimulatorLoadingLogo{
	background-image: url("../img/QUXLogo5.svg");
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 80px;
	width:100%;
	max-width:300px;
}
