
.MatcLight .MatcDialogThemed{
	background: #f2f2f2;
}

.MatcLight .MatcCanvas{
 	background: #bbb;
}

.MatcLight .MatcCanvas.MatcCanvasImageUploadDND .MatcCanvasContainer{
 	background: #ddd;
 	transition: background 0.3s;
}


.MatcLight .MatcCanvas.MatcCanvasImageUploadDND .MatcScreenDnD{
	background: rgba(255,255,255,0.5);
 	transition: background 0.3s;
}

.MatcLight .MatcCanvasImageUploadDND .MatcScreenDnD.MatcScreenDragOver{
	background: none;
}

.MatcLight .MatcCanvasContainer {
    background: rgb(230, 230, 230);
    box-shadow: none;
    transition: background 0.3s;
}


.MatcLight .MatcCanvasFrame {
	 background: #bbb;
}



.MatcLight .MatcScreen {
	box-shadow: 0 0 20px rgba(0,0,0,0.25);
}


/****************************************************
 * VAlign
 ****************************************************/



.MatcLight .MatcScreenGridHandlex{
	border-color: #333 transparent transparent transparent;
}

.MatcLight .MatcScreenGridHandley{
	border-color: transparent transparent transparent #333;
}

.MatcLight .MatcScreenGridHandleDel.MatcScreenGridHandlex{
	border-color: red transparent transparent transparent;
}
.MatcLight .MatcScreenGridHandleDel.MatcScreenGridHandley{
	border-color: transparent transparent transparent red;
}



.MatcLight .MatcToolbarResizeElement,
.MatcLight .MatcToolbarResizePreview{
    background: #fff;
    border: 1px solid #ddd;
}

.MatcLight .MatcToolbarResizePinLine{
    background: #999;
}

.MatcLight .MatcToolbarResizeActive .MatcToolbarResizePinLine{
    background: #3787f2;
}

.MatcLight .MatcToolbarResizePinCenter,
.MatcLight .MatcToolbarResizePinLeft,
.MatcLight .MatcToolbarResizePinRight,
.MatcLight .MatcToolbarResizePinUp,
.MatcLight .MatcToolbarResizePinDown{
    border-color: #999;
}

.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinCenter,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinLeft,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinRight,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinUp,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizePinDown{
    border-color: #3787f2;
}

.MatcLight .MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
.MatcLight .MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: #999;
}

.MatcLight .MatcToolbarResizeActive.MatcToolbarResizeGrowVertical .MatcToolbarResizeGrowLine,
.MatcLight .MatcToolbarResizeActive.MatcToolbarResizeGrowHorizontal .MatcToolbarResizeGrowLine{
    background: #3787f2;
}


.MatcLight .MatcToolbarLayerListScreenLabel{
	font-weight: 700;
}

.MatcLight .MatcTreeItem{
	color:#333;
}

.MatcLight .MatcToolbarColorIndicator{
	border:1px solid rgba(0,0,0, 0.15)
}

.MatcLight .MatcToolbarColorIndicator:hover{
	border:1px solid rgba(0,0,0, 0.35)
}

.MatcLight .MatcToolbarDetailLabel{
	color: #777;
}


.MatcLight .MatcAnalyticsToolbar .MatcToolbarTopLeftCntr .MatcToolbarItemActive {
    background: #d6e5f8;
	color:#333;
	height: 39px;
}


.MatcLight .MatcDesignTokenList .MatcDesignTokenListSection label {
	color:#333;
	background: none;
	font-weight: 700;
	padding: 0px 16px;
}

.MatcLight .MatcToolbarSectionMarker {
	opacity: 0.5;
}

.MatcLight .MatcToobarHomeSection .MatcToolbarItem {
	color: #fff;
}


.MatcLight .MatcToolbar .VommondCheckBoxWrapper:hover .VommondCheckBox,
.MatcLight .MatcToolbar .VommondCheckBoxChecked .VommondCheckBox
{
	border:1px solid rgba(0,0,0, 0.35)
}

.MatcLight .MatcToolbar .VommondCheckBox,
.MatcLight .MatcToolbar .VommondRadioBox{
	border: 1px solid #ddd
}

