@import '../variables.scss';

.MatcAiEditor {
    position: absolute;
    top:200px;
    left: 200px;
    width: 200px;
    height: 200px;
    background: #fff;
    z-index: 9999999;
    display: flex;
    flex-direction: column;
    box-shadow: $popup_shadow;
    border: $popup_border;
    border-radius: $popup_radius;
    font-size: $popup_font_size;


      .MatcQIconSVG {
        width: 14px;
        height: 14px;
        transition: opacity 0.2s;
        opacity: 0.5;
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }

      .MatcAiEditorCloseIcon {
        position: absolute;
        top: 4px;
        right: 4px;
      }

      .MatcAiEditorActionIcons {
        display: flex;
        align-items: center;
      }

      textarea {
        width: 100%;
        height: calc(100% - 24px);
        padding:16px;
        border: none;
        outline: none;
        background: none;
      }

      .MatcAiEditorActionPopup {
        position: relative;
        margin-left: 4px;

        .MatcAiEditorActionPopupLabel {
          opacity: 0.5;
          cursor: pointer;
          font-size: $font-size-xxs;
          white-space: nowrap;
          transition: opacity 0.2s;
          margin-left: 8px;

          &::after {
            content: "";
            display: inline-block;
            margin-left: 4px;
            margin-top: 1px;
            width: 5px;
            height: 5px;
            transform: rotate(45deg);
            border: none;
            border-left: 1px solid currentColor;
            border-top: 1px solid currentColor;
            vertical-align: middle;
            transition: all 0.2s;
          }

          &:hover,
          &.MatcAiEditorActionPopupLabelActive {
            opacity: 1;
          }

          &.MatcAiEditorActionPopupLabelActive::after {
            margin-top: -2px;
            transform: rotate(225deg);
          }
        }

        .MatcAiEditorActionPopupMenu {
          position: absolute;
          bottom: calc(100% + 8px);
          left: 0%;
          margin: 0;
          min-width: 130px;
          list-style: none;
          border-radius: $popup_radius;
          box-shadow: $page_drop_shadow_more;
          z-index: 10;
          overflow: hidden;
          user-select:none;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            right: 12px;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid $popup_background;
          }

          li {
            padding: 6px 8px;
            font-size: $font-size-xxs;
            white-space: nowrap;
            cursor: pointer;
          }
        }
      }
    }