.MatcDark .MatcToobarPropertiesSection input,
.MatcDark .MatcToobarPropertiesSection textarea{
    border: 1px solid transparent;
}

.MatcDark .MatcToobarPropertiesSection input:hover,
.MatcDark .MatcToobarPropertiesSection input:focus,
.MatcDark .MatcToobarPropertiesSection textarea:hover,
.MatcDark .MatcToobarPropertiesSection textarea:focus{
    border: 1px solid #555;
}




.MatcDialog .MatcToolbarTabs a {
	color: #333;
}

.MatcDialog .MatcToolbarTabs a.MatcToolbarTabDisabled, 
.MatcDialog .MatcToolbarTabs a.MatcToolbarTabDisabled:hover{
	color: #777;
    cursor: auto;
}

.MatcDark .MatcBoxBorder .MatcToolbarTabs a.MatcToolbarTabActive {
    border-bottom-color: #3787f2;
    color: #fff;
}

.MatcDark .MatcToolbar .MatcToolbarDropDownButton li:HOVER,
.MatcDark .MatcToolbarDropDownButtonPopup li:hover{
    background: #cecece;
}

.MatcDark .MatcToobarRow.MatcToobarSubSection{
	border-top: 1px solid rgba(255, 255, 255, 0.15);
}
