.MatcCustomFonts{
    height: 360px;
    width: 600px;
}

.MatcFontDialog{
    height: 460px;
}

.MatcCustomFontsRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MatcCustomFontsRow input.MatcCustomFontsName{
    width: 20%;
}

.MatcCustomFontsRow input.MatcCustomFontsURL{
    width: 75%;
}

.MatcCustomFontsRow .MatcCustomFontsType{
    width: 5%;
}
