
 
.MatcDark .MatcToolbar{
 	font-size: 14px;
 	background: #5D646D;
 	opacity:0.95;
}
 

.MatcDark .MatcToolbarItem{
 	color:#FFF;
 	border-bottom: 2px solid #5D646D; 
}
 

.MatcDark .MatcToolbarItem:hover{
	text-decoration: none;
	color:#FFF;
	border-bottom: 2px solid rgb(73,192,240);	
}

.MatcDark .MatcToolbarItemDisbaled{
	color:#777;
	cursor: auto;
}

.MatcDark .MatcToolbarItem.MatcToolbarItemDisbaled:HOVER{
	color:#777;
	border-bottom: 2px solid #5D646D; 
}

.MatcDark .MatcCanvasContainer{
	background-color: #3E4149;
}

.MatcDark .MatcScreen{
	background: #45484D;
	box-shadow:0px 0px 10px #333;
}

.MatcDark .MatcLineSupportPointTouch{
	border:3px solid #3E4149;
	background: #FFF;
}

 
 .MatcDark .MatcCanvasFrame{
 	background-color: #3E4149;
}

.MatcMainMenu{
	background: none;	
}