
.MatcDialog {
    min-height: 200px;
    padding: $dialog_padding;
    border-radius: 12px;
    cursor: default;
}

.MatcHelpDialog {
    width: 1000px;
    height: 700px;
}

.MatcHeaderDialog {
    width: 600px;
}

.MatcAppsDialog {
    width: 80vw;
    height: 80vh;

    .MatcAppList {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .MatcAppListContainer {
        height: 100%;
        overflow: auto;
        flex-grow: 1;
        padding: 8px;
    }
}

.MatcDataBindingDialogXXL {
    width: 840px;
    min-height: 660px;
}

.MatcOptionDialog {
    width: 480px;
    cursor: default;
}

.MatcDialogMobile {
    width: 100%;
    min-width: 320px;
    padding: 20px 20px 30px;
}

.MatcDialogM {
    width: 600px;
    min-height: 200px;
    cursor: default;
}

.MatcDialogXL {
    width: 800px;
    min-height: 400px;
}

.MatcDialogXXL {
    width: 1200px;
    min-height: 600px;
}

.MatcAutoWidthDialog {
    width: auto;
    min-height: 600px;
}

.MatcDialogXLLong {
    width: 850px;
    min-height: 600px;
}

.MatcTestDialog {
    width: 800px;

    background: #fff;
    text-align: left;
    font-size: 16px;
    color: #333;
    background: #fff;
    padding: 40px 40px 56px;
}

.MatcTestDesktopDialog {
    width: 90%;
    width: 90%;
}

.MatchSimulatorDialog {
    padding: 20px;
    min-width: 1000px;
}

.MatchTaskRecorderDialog {
    padding: 20px;
}

.MatcDialogHeader {
    margin-bottom: 20px;
    margin-top: 0;
}

.MatcDialogTitle {
    font-size: 20px;
    margin-bottom: 30px;
    color: #999;
    font-weight: 300;
}

.MatcDeleteDialog {
	width: 400px;
    padding: $dialog_padding;
}

.MatcResizeDialog {
	width: 600px;
    padding: $dialog_padding-l;
	height: auto;
}

.MatcVideoDialog{
	width:960px;
	height:600px;
}

.MatcInfitationDialog {
	width: 900px;
}


.MatcShareDialog {
	position: relative;
}

.MatcShareDialog .MatcLanguagePicker {
	position: absolute;
	right: 6px;
	top: -48px;

    .MatcToolbarIconButton {
        display: flex;
        align-items: center;
        gap: 8px;
    }
}
