.MatcHelpDialog {
    width: 1000px;
    height: 700px;
}

.MatcHelp{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.MatcHelp a {
    display: inline-block;
    width: 100%;
    color:#555;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.MatcHelp a.MatcHelpLink {
    display: inline;
    color:#3787f2;
    font-size: 18px;
    text-decoration: underline;
}

.MatcHelp a.MatcHelpSubTopic{
    padding-left: 20px;
}

.MatcHelp a:hover {
    color:#333;
    text-decoration: none;
}

.MatcHelp a.selected {
    color:#3787f2;
    text-decoration: none;
}

.MatcHelp a.MatcHelpTopicSpacer {
    margin-top: 16px;
}


.MatcHelpContent{
    display: inline-block;
    width: 800px;
    padding-right: 20px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.MatcHelpDialog .MatcHelpContent{
    width: 960px;
}

.MatcHelpTopics{
    width: 200px;
    overflow: auto;
}

.MatcHelpTopicsCntr a{
    font-size: 14px;
    font-weight: 700;
}

.MatcHelpDialog .MatcHelpTopicsCntr {
    overflow: auto;
    height: 580px;
}

.MatcHelpContentCntr {
    width: 800px;
    padding-left: 60px;
}

.MatcHelpDialog .MatcHelpContentCntr{
    height: 620px;
    padding-right: 60px;
    overflow: auto;
}

.MatcHelpContentCntr iframe {
    margin-top: 30px;
}



.MatcHelp .MatcHelpContent h2{
    font-size: 20px;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.MatcHelp .MatcHelpContent h3{
    font-size: 18px;
    color: #4a4a4a;
    margin-bottom: 5px;
}

.MatcHelpContentParagraph {
    margin-top: 32px;
    line-height: 1.8;
    font-size: 16px;
    color: #777777;
}

.MatcHelpContentParagraphSpacer {
    border-top: 1px solid #ccc;
    margin-top: 48px;
    padding-top: 48px;
}

.MatcHelpContent .MatcButton{
    background: #3787f2;
    color: #fff;
    padding:2px 4px;
    font-size: 14px;
}

.MatcHelp ol{
    list-style: circle;
    padding: 10px;
}

.MatcHelp ol li{
    list-style-type: circle;
    margin: 3px 10px;
    padding: 0;
}