
.MatcHelp{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.MatcHelp a {
    display: inline-block;
    width: 100%;
    color:#555;
    font-size: 16px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.MatcHelp caption {
    display: block;
    font-size: 14px;
    font-style: italic;
    color:#555;
    text-align: center;
    padding: 0px;
    margin-bottom: 16px;
}

.MatcHelp a.MatcHelpLink {
    display: inline;
    color:#3787f2;
    font-size: 18px;
    text-decoration: underline;
}

.MatcHelp a.MatcHelpSubTopic{
    padding-left: 20px;
}

.MatcHelp a:hover {
    color:#333;
    text-decoration: none;
}

.MatcHelp a.selected {
    color:#3787f2;
    text-decoration: none;
}

.MatcHelp a.MatcHelpTopicSpacer {
    margin-top: 16px;
}


.MatcHelpContent{
    display: inline-block;
    min-width: 800px;
    max-width: 1200px;
    padding-right: 20px;
    margin-right: 20px;
    height: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.MatcHelpContenImage {
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    margin: 16px 0px;
}

.MatcHelpExample {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 16px;
    background: #d6e5f86c;
    border: 1px solid #d6e5f8;
}

.MatcHelpExample pre {
    background: none;
    border: none
}

.MatcHelpCallout {
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 16px;
    background: #f9ed8371;
    border: 1px solid #f9ed83;
}


.MatcHelpDialog .MatcHelpContent{
    width: 960px;
}

.MatcHelpTopics{
    width: 240px;
    overflow: auto;
}

.MatcHelpTopicsCntr a{
    font-size: 14px;
    font-weight: 700;
}

.MatcHelpDialog .MatcHelpTopicsCntr {
    overflow: auto;
    height: 580px;
}

.MatcHelpContentCntr {
    width: 800px;
    padding-left: 60px;
}

.MatcHelpDialog .MatcHelpContentCntr{
    height: 620px;
    padding-right: 60px;
    overflow: auto;
}

.MatcHelpContentCntr iframe {
    margin-top: 30px;
}

.MatcHelpCode {
    text-align: left;
    border: none;
    background: #333;
    color: #fff;
    border-radius: 4px;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.15);
    margin: 16px 0px;
}



.MatcHelp .MatcHelpContent h2{
    font-size: 20px;
    font-weight: 400;
    color: #4a4a4a;
    margin-bottom: 5px;
    font-weight: 700;
}

.MatcHelp .MatcHelpContent h3{
    font-size: 18px;
    color: #4a4a4a;
    margin-top: 48px;
    margin-bottom: 5px;
    font-weight: 700;
}

.MatcHelpContentParagraph {
    margin-top: 32px;
    line-height: 1.8;
    font-size: 16px;
    color: #4a4a4a;

}

.MatcHelpContentParagraphSpacer {
    margin-top: 48px;
    padding-top: 48px;
}

.MatcHelpContent .MatcButton{
    background: #3787f2;
    color: #fff;
    padding:2px 4px;
    font-size: 14px;
}

.MatcHelp ol{
    list-style: circle;
    padding: 8px 32px;

}

.MatcHelp ol li{
    list-style-type: auto;
    margin: 3px 10px;
    padding: 0;
}