@import 'bootstrap/css/bootstrap.min.css';
@import 'material17/css/materialdesignicons.min.css';
@import 'glyphicons/css/glyphicons.css';
@import 'vommond.css';
@import 'common.css';
@import 'page.css';
@import 'list.css';
@import 'form.css';
@import 'menu.css';
@import 'header.css';
@import 'canvas.css';
@import 'canvas_light.css';
@import "analytic_canvas.css";
@import 'dash.css';
@import 'widgets.css';
@import 'widgets_chat.css';
@import 'widgets/repeater.css';
@import 'widgets/scrolltarget.css';
@import 'widgets/screensegment.css';
@import 'simulator.css';
@import './toolbar/toolbar.css';
@import './toolbar/toolbar_widgets.css';
@import './toolbar/toolbar_table.css';
@import './toolbar/toolbar_layer_list.css';
@import './toolbar/toolbar_resize.css';
@import './toolbar/toolbar_create.css';
@import './toolbar/toolbar_rest.css';
@import './toolbar/toolbar_table_settings.css';
@import './toolbar/design_token.css';
@import './toolbar/color_picker.css';
@import './toolbar/box-shadow.css';
@import './toolbar/text.css';
@import 'public.css';
@import 'pricing.css';
@import 'animation_composer.css';
@import 'plan.css';
@import 'color_picker_sketch.css';
@import 'download.css';
@import 'share.css';
@import 'chatboteditor.css';
@import 'colors.css';
@import 'help.css';
@import 'databinding.css';
@import 'databindingtree.css';
@import 'tree.css';
@import "custom.css";


