.MatcPricingHeader{
	font-size: 40px;

}

.MatcPricingTable {
	width:100%;
	max-width: 450px;

	border-bottom:1px solid #cecece;
	margin-bottom: 100px;
	background: #fff;
	display: inline-block;
}


.MatcPricingTable thead td{
	text-align: center;
	padding-bottom: 40px;
	padding-top: 40px;

}

.MatcPricingTableHeader{
	height: 220px;
}
.MatcPricingTableHeaderName{
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
}

.MatcPricingTableHeaderPrice{
	font-size: 80px;

}

.MatcPricingTableHeaderDollar{
	vertical-align: top;
	font-size: 40px;
}


.MatcPricingTableHeaderMonth{
	font-size: 20px;
	display: block;
}

.MatcPricingTableHeaderDiscount{
	text-decoration: line-through;
	color:#cecece;
}

.MatcPricingTableHeaderPro{
	background: #3787f2;
	color:#fff;
	border:1px solid #3787f2;
}

.MatcPricingTableHeaderEnterprise{
	background:#92c500;
	border:1px solid #92c500;
	color:#fff;
}

.MatcPricingTableHeaderFree{
	background: #cecece;
	border:1px solid #cecece;
}



.MatcPricingTable tbody td{
	padding-top: 20px;
	padding-bottom: 30px;
	border-left: 1px solid #cecece;
    border-right: 1px solid #cecece;
}

.MatcPricingTable tbody td.MatcPricingSeperator{
    border-bottom: 1px solid #cecece;
}



.MatcPricingFeature{
	text-align: center
}


.MatcPricingFeature ul{
	display: inline-block;
	width:80%;
	margin: none;
	text-align: left;
	margin-bottom: 40px;
}

.MatcPricingFeature ul:LAST-CHILD{
	margin-bottom: 0px;
}

.MatcPricingFeatureClosed .MatcPricingFeatureDetailsContainer{
	height: 0px;
	overflow: hidden;
}


.MatcPricingFeatureShortContainer{
	height: 0px;
	overflow: hidden;
}
.MatcPricingFeatureClosed .MatcPricingFeatureShortContainer{
	height: auto;
}


.MatcPricingFeatureDisable{
	color : #cecece;

}

.MatcPricingFeature li{
	list-style: none;
	margin-bottom: 40px;

    font-weight: 300;
}

.MatcPricingFeature li .mdi{
	margin-right: 10px;
}


.MatcPricingBigNumber{
	font-size: 30px;
	display: block;
}