.qux-svg-editor_cursor_crosshair{
    cursor: crosshair;
}

.qux-svg-editor_cursor_move{
    cursor: move;
}

.qux-svg-editor-joint{
    stroke-width: 1;
    stroke: #49C0F0;
    fill: #fff;
    cursor: pointer;
}

.qux-svg-editor-joint-selected{
    fill: #49C0F0;
}

.qux-svg-editor_cursor_move .qux-svg-editor-joint{
    cursor: move;
}

.qux-svg-editor-splitpoint{
    stroke-width: 1;
    stroke: #ccc;
    fill: #ccc;
    cursor: pointer;
}

.qux-svg-editor-bezier{
    stroke-width: 1;
    stroke: red;
    fill: red;
    cursor: pointer;
}

.qux-svg-editor-bezier-selected{
    stroke-width: 1;
    stroke: green;
    fill: green;
    cursor: move;
}

.qux-svg-editor-bezier-debug{
    stroke-width: 1;
    stroke: #888;
    fill: #888;
}

.qux-svg-editor-bezier-debug-x1{
    stroke-width: 1;
    stroke: orange;
    fill: orange;
}

.qux-svg-editor-resize-handler {
    stroke-width: 1;
    stroke: #49C0F0;
    fill: #fff;
    cursor: pointer;
}

.qux-svg-editor-bounding {
    stroke-width: 1;
    stroke: #49C0F0;
    fill: rgba(0, 0, 0, 0.0);
}

.qux-svg-editor-click-line{
    cursor: pointer;
}