.MatcWindows .MatcScrollContainer {
    overflow: auto;

    &::-webkit-scrollbar {
        width: 6px;
        background: rgba(0, 0, 0, 0.0);
    }

    /* Track */
    &::-webkit-scrollbar-track {
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.0);
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.0);
        transition: all 0.2s;
        border-radius: 8px;
    }

    &:hover {
        &::-webkit-scrollbar-thumb {
            background: rgba(0, 0, 0, 0.25);
        }
    }
}