@import './variables.scss';

 .MatcShare{
 	height: 100%;
 	width: 100%;
 	background: #fff;
	.MatcScreen {
		box-shadow: 0 0 16px rgba(0,0,0,0.15);
	}

	.MatcCanvasFrame,
	.MatcCanvasContainer{
		background: #fff;
	}

	.MatcCanvasScrollBarBottom,
	.MatcMessage{
		bottom: 0px;
	}

	.MatcTestQRButton{
		bottom:90px;
	}

	.MatcTestQRButton.MatcShareLine{
		bottom: 290px;
	}
	
	.MatcTestQRButton.MatcShareZoomIn{
		bottom: 230px;
	}
	

	.MatcTestQRButton.MatcShareZoomOut{
		bottom:160px;
	}

	.MatcTestCommentButton,
	.MatcTestQRButton {
		z-index:10010;
	}

	.MatcCanvasContainer.MatcShareCanvasAnimatedContainer{
		transition: all 0.4s;
	}
 }

.MatcLight .MatcShare .MatcCanvasFrame,
.MatcLight .MatcShare .MatcCanvasContainer{
	background: #fff;
}

/**
 * Share dialog
 */
.MatcShareRow{
	position: relative;
}

.MatcShareRow .MatcShareIcon{
	position: absolute;
	bottom:6px;
	right:5px;
	color:#333;
}

.MatcShareRow .MatcShareIcon:hover{
	color:$primary_color;
}