
/****************************************************
 * Share
 ****************************************************/

 .MatcShare{
 	height: 100%;
 	width: 100%;
 	background: red;
 }

 .MatcShare{
 }


.MatcLight .MatcShare .MatcCanvasFrame,
.MatcLight .MatcShare .MatcCanvasContainer{
	background: #fff;
}

.MatcShare .MatcCanvasScrollBarBottom,
.MatcShare .MatcMessage{
	bottom: 0px;
}

.MatcShare .MatcTestQRButton{
	bottom:90px;
}


.MatcTestQRButton.MatcShareLine{
	bottom: 290px;
}


.MatcTestQRButton.MatcShareZoomIn{
	bottom: 230px;
}

.MatcTestQRButton.MatcShareZoomOut{
	bottom:160px;
}

.MatcTestCommentButton,
.MatcTestQRButton {
	z-index:10010;
}

.MatcCanvasContainer.MatcShareCanvasAnimatedContainer{
	transition: all 0.4s;
}

@keyframes flipContainer {
   0%, 100% {

    transform:scale(1,1);

  } 50% {

    transform:scale(0.8,0.8);

  }
}


.MatcShareMenu{
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	color:#fff;
	transition: all 0.5s;
	left:0px;
	opacity:1;
	overflow: visible;

}



.MatcShareMenuCloseBtn{
	position: absolute;
	top:10px;
	left:0px;
	height: 50px;
	width: 40px;
	font-size:35px;
	background:#777;
	border: 1px solid #ccc;
	border:none;
	border-radius: 0px 10px 10px 0px;
	color: white;
	cursor: pointer;

}

.MatcShareMenuCloseBtn span{
  transition-duration: 0.2s;
	transition-property:transform;
}

.MatcShareMenuClosed .MatcShareMenuCloseBtn span{
 	transform: rotate(180deg);
    transform-origin: 50% 50% 0;
}



.MatcShareMenu.MatcShareMenuCollababsed{
	width: 200px;
    border-right: 1px solid #ddd;
    position: fixed;
    background: #eee;
    color:#555;
}


.MatcShareMenuClosed .MatcShareMenu.MatcShareMenuCollababsed{
	transform: translateX(-200px);
}

.MatcShareMenuClosed .MatcSimulatorSection{
	transform: translateX(-200px);
}

.MatcShareOverViewList{
	margin-left: 30px;
	margin-right: 30px;
	width:1170px;
	margin-left: auto;
	margin-right: auto;
}



.MatcTestScreenPreview{
	padding: 15px;
	padding-top: 30px;
	padding-bottom: 30px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	cursor: pointer;
}

.MatcTestScreenPreview:hover, .MatcTestScreenPreviewSelected{
   background:#ddd;
}

.MatcPreviewWrapper{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}

.MatcShareMenu .MatcTestScreenPreview .MatcPreviewWrapper{
	width:170px;
	height:160px;
}

.MatcTestScreenPreviewLabel{
	color: #333;
	font-size: 14px;
	padding-top: 10px;
}

.MatcShareRow{
	position: relative;
}

.MatcShareRow .MatcShareIcon{
	position: absolute;
	bottom:6px;
	right:5px;
	color:#333;
}

.MatcShareRow .MatcShareIcon:hover{
	color:#3787f2;
}