

.MatchSimulatorStandAlone{
 	width: 100%;
	height: 100%;
}

.MatcSimulator{
 	height: 100%;
 	width:100%;
 	position: relative;
 	display: inline-block;
	overflow: hidden;
	text-align: left;

   -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.MatcSimulatorLoadingMessageVisible {
	text-align: center;
}

.MatcSimulatorFadeOut{
	transition: opacity 0.2s;
	opacity: 0;
}


.MatcSimulatorImagePreloader{
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.MatcSimulatorLoadingCntr{
	left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    position:absolute;
    width: 80%;
    height:200px;
}

.MatcLogoNew{
	background-image: url("img/LogoNew.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 150px;
	width: 150px;
	max-width:300px;
}

.MatcSimulatorLoadingLogo{
	background-image: url("img/LogoNew.png");
	background-repeat: no-repeat;
	background-size: 100% auto;
	display: inline-block;
	height: 80px;
	width:100%;
	max-width:300px;
}


.MatcSimulatorLoadingLogoAnimation{
  -webkit-animation: sk-bounce 1.5s infinite ease-in-out;
  animation: sk-bounce 1.5s infinite ease-in-out;
}



@keyframes sk-bounce {
  0%, 100% {
    opacity:1;
  } 50% {
    opacity:0.5;
  }
}

.MatcSimulatorSplash{
	transition: all 0.5s;
	color:#fff;
	height: 100%;
	width: 100%;
	position: absolute;
	text-align: center;
	width:100%;
	height:100%;
}

.MatcSimulatorSplashBlue{
	background: -moz-linear-gradient(45deg, #3597EA 0%, #3699EB 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #3597EA 0%,#3699EB 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #3597EA 0%, #3699EB 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.MatcSimulatorStartBtn{
	display: inline-block;
	padding: 3px 20px;
	border-radius:3px;
	border: 2px solid #fff;
	color:#3787f2;
	background:#fff;
	cursor: pointer;
	transition-duration: 0.2s;
	font-size: 36px;
	width: 100%;
    text-align: center;
}

.MatcSimulatorStartBtn:HOVER{
	background: rgba(255,255,255,1)
}

.MatcSimulatorVersion{
	position: absolute;
	right:10px;
	bottom: 10px;
	font-size: 10px;
}









.MatcSimulator .MatcScreen{
	box-shadow:none;
	position: absolute;
	left:0px;
}

 .MatcSimulator .MatcWidget{
 	position: absolute;
 	z-index: auto;
 }

 .MatcWidget.MatcWidgetNoTouch{
 	touch-action: none;
 }


 .MatcSimulator .MactWidgetFixed{
  	z-index: 10010;
 }

 .MatcSimulatorClickable{
 	cursor: pointer;
 }

 .MatchSimulatorAnimation{
 	transition-duration: 0.5s;
	transition-property:left;
 }

 .MatcSimulatorWidgetHightlight{
 	transition:all 0.2s;
 	border:1px solid #49C0F0;
	background:rgba(73,192,240,0.3);
 }


 .MatcSimulatorPrivacy{
 	font-size: 16px;
 	line-height: 1.5;
 	font-weight:300;
 	width:80%;
 	position: fixed;
 	bottom: 30px;
 	left:10%;
 	text-align: left;
 }

 .MatcSimulatorContent {
	padding: 15px 20px;
    line-height: 2;
    width: 100%;
    height: 600px;
	text-align: left;
	background: #fefefe;
    border: 1px solid rgba(255,255,255,1);
    color: #333;
	border-radius: 5px;
	position: relative;
	top: -200px;
	font-weight: 300;
	font-size: 16px;
	box-shadow: 0px 0px 10px rgba(0,0,0, 0.15);
 }

 .MatcSimulatorContentCntr {
	height: calc(100% - 70px);
	overflow: auto;
 }


 .MatcSimulatorContent .MatcSimulatorStartBtn{
	width: 100%;
	border: 1px solid #3787f2;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.2s;
 }

 .MatcSimulatorContent .MatcSimulatorContentCntr h2 {
	color: #333;
	font-size: 20px;
 }

 .MatcScreenOverlay {
	 min-height: 100%;
 }