@import './variables.scss';

.MatcStudio {
    width: 100vw;
    height: 100vh;


    .MatcStudioRight {
        height: 100vh;
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-size: 14px;

        .MatcButtonSecondary {
            justify-content: flex-start
        }

        .MatcQIcon {
            justify-content: flex-start;
        }


        .MatcStudioLogo { 
            display: flex;
            gap: 8px;
            font-weight: 600;
            img{
                height: 24px;
                width: 24px;
            }
        }

        .MatcButton {
            width: 100%;
            padding: 16px;
            height: 40px;
        }

        a{
            color: $text_color;         
            cursor: pointer;
            display: flex;
            gap: 8px;
            align-items: center;
        }

        .MatcStudioAppList{
            display: flex;
            flex-direction: column;
            gap: 12px;
            flex-grow: 1;
            overflow: scroll;

            padding-left: 4px;

            .MatcStudioAppListSelected {
                font-weight: 600;
            }

            a {
      
                .MatcStudioAppListLabel {
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    overflow: hidden;
                    margin: 0;
                    display: inline-block;
                    width: calc(100% - 32px);
                }

                .MatcStudioAppListDot {
                    display: block;
                    width: 8px;
                    height: 8px;
                    background: $primary_color;
                    border-radius: 50px;                
                    flex-basis: 8px;
                }
            }


        }
    }
}

.StudioOverview {
    width: 100%;
    background-color: $page_color-secondary;

    .MatcTeam {
        border: 1px solid $page_border;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 0px 8px;
        height: 32px;

        .MatcUserAdd {
            background: $button_secondary_background;
        }
    }

    section {
        margin-bottom: 64px;
    }


    .StudioOverviewHeader {
        border-bottom: 1px solid $page_border;
        gap: 16px;
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        font-size: 14px;
        background: $page_color;
        width: 100%;
    }

    .StudioOverviewHeaderRow {
        padding: 0px 64px;
        display: flex;
        align-items: center;


        .MatcFlexColumn {
            position: relative;
        }

    
        .StudioColorDropDown {
            position: absolute;
            left: -32px;
            top:12px;

            .MatcDropDownPopUp {
                left: 0px;
                right: auto;
                width: auto;
            }
     
            .StudioColorDropDownDot {
                height: 16px;
                width: 16px;
                border-radius: 50px;
                background: $primary_color;
                cursor: pointer;
            }

            .StudioColorDropDownCntr {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 16px;
                padding: 16px;
                cursor: default;
            }
        }

        input {
    		font-size: $font-size-m;
            padding: 0;
            border: none;
            font-weight: 600;
            width: 400px;
        }
    }

    .StudioOverviewContent {
        padding: 64px;
        width: 100%;
    }

    .MatcTabs {
        display: flex;
        font-size: 14px;
        gap: 16px;
        transform: translateY(1px);

        a {
            color: $text_color_passive;
            font-weight: 600;
            padding: 8px 0px;
            display: inline-block;
            border-bottom: 3px solid transparent;

            &.MatcTabActive{
                border-bottom: 3px solid $primary_color;
                color: $text-color;
            }
        }


    }
}

