@import './variables.scss';

.MatcStudio {
    width: 100vw;
    height: 100vh;


    .MatcStudioRight {
        height: 100vh;
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 14px;

        .MatcQIcon .MatcQIconSVG {
            stroke-width: 2.5;
        }

        .MatcButtonSecondary {
            justify-content: flex-start
        }

        .MatcQIcon {
            justify-content: flex-start;
        }


        .MatcStudioLogo { 
            display: flex;
            gap: 8px;
            font-weight: 600;
            font-size: 16px;
            img{
                height: 24px;
                width: 24px;
            }
        }

        .MatcButton {
            width: 100%;
            padding: 16px;
            height: 40px;
        }

        a{  
            cursor: pointer;
            display: flex;
            gap: 16px;
            align-items: center;
        }

        .MatcStudioAppList{
            display: flex;
            flex-direction: column;
            gap: 12px;
            flex-grow: 1;
            overflow: scroll;

            padding-left: 8px;//20px;

            .MatcStudioAppListSelected {
                font-weight: 600;
            }

            a {
      
                .MatcStudioAppListLabel {
                    text-overflow: ellipsis;
                    text-wrap: nowrap;
                    overflow: hidden;
                    margin: 0;
                    display: inline-block;
                    width: calc(100% - 32px);
                }

                .MatcStudioAppListDot {
                    display: block;
                    width: 8px;
                    height: 8px;
                    background: $primary_color;
                    border-radius: 50px;                
                    flex-basis: 8px;
                }
            }


        }
    }
}

.StudioOverview {
    width: 100%;
    background-color: $page_color-secondary;

    .MatcTeam {
        border: 1px solid $page_border;
        border-radius: 50px;
        display: flex;
        align-items: center;
        padding: 0px 8px;
        height: 32px;

        .MatcUserAdd {
            background: $button_secondary_background;
        }
    }

    section {
        margin-bottom: 64px;
    }


    .StudioOverviewHeader {
        border-bottom: 1px solid $page_border;
        gap: 8px;
        display: flex;
        flex-direction: column;
        padding-top: 16px;
        font-size: 14px;
        background: $page_color;
        width: 100%;
    }

    .StudioOverviewHeaderRow {
        padding: 0px 64px;
        display: flex;
        align-items: center;


        .MatcFlexColumn {
            position: relative;
        }

    
        .StudioColorDropDown {
            position: absolute;
            left: -32px;
            top: 4px;

            .MatcDropDownPopUp {
                left: 0px;
                right: auto;
                width: auto;
            }
     
            .StudioColorDropDownDot {
                height: 16px;
                width: 16px;
                border-radius: 50px;
                background: $primary_color;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                    box-shadow: 0px 0px 4px rgba($color: #000000, $alpha: 0.25);
                }
            }

            .StudioColorDropDownCntr {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 16px;
                row-gap: 16px;
                padding: 16px;
                cursor: default;
            }
        }

        input {
    		font-size: $font-size-m;
            padding: 0;
            border: none;
            font-weight: 600;
            width: 400px;

            height: 32px;
            padding-bottom: 10px;
        }
    }

    .StudioOverviewContent {
        padding: 64px;
        width: 100%;
    }

    .MatcTabs {
        display: flex;
        font-size: 14px;
        gap: 16px;
        transform: translateY(1px);

        a {
            color: $text_color_passive;
            font-weight: 600;
            padding: 8px 0px;
            display: inline-block;
            border-bottom: 3px solid transparent;

            &.MatcTabActive{
                border-bottom: 3px solid $primary_color;
                color: $text-color;
            }
        }


    }
}

.MatcStudioWelcome {
    height: 100vh;
    padding: 48px;
    background: $page_color_secondary;

    display: flex;
    align-items: center;
    justify-content: center;
    color: $text_color_passive;

    >div{
        width: 240px;
    }
}

.StudioDetails {
    height: 100vh;
    background: $page_color;
    padding: 16px;
    display: flex;
    gap: 32px;
    flex-direction: column;

    .StudioDetailsKPICntr {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 16px;
        row-gap: 16px;

        .StudioDetailsKPI {
            background: $kpi_background;
            height: 102px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap:8px;
            border-radius: $page_radius;

            h4 {
                font-size: 24px;
            }

            label {
                font-size: 14px;
                font-weight: 400;
                text-align: center;
            }
        }
    }

    .StudioDetailsComments {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
  
        .StudioDetailsCommentsCntr {
            flex-grow: 1;
            overflow: auto;
            display: flex;
            flex-direction: column;
            gap: 16px;     
            overflow: auto; 
        }
    }
}

.StudioComment{
    background: $comment_background;
    border: 1px solid $comment_border;
    box-shadow: $comment-shadow;
    padding: 16px;
    padding-top: 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column;

    textarea {
        border: 1px dashed $comment_border;
        padding: 4px;
        width: 100%;
        height: 168px;
        background: none;

        &:focus {
            border: 1px dashed $comment_border;
            outline: none;
        }
    }

    .StudioCommentHeader {
        display: flex;
        justify-content: flex-end;
    }
    .StudioCommentMessage {
        white-space: pre;
    }
    .StudioCommentUser {
        margin-top: 16px;
        font-weight: 600;
    }
    .StudioCommentFooter {
        font-size: 12px;
        font-weight: 400;
    }
}

