.MatcTestLogoCntr{
    position: fixed;
    left:50%;
    top:50%;
    width:400px;
    height: 200px;
	text-align: center;
    padding:20px;
    transform: translate(-50%, -50%)
}


.MatcTestProgressCntr {
    display: inline-block;
    width: 100px;
    height: 5px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 3px;
    transition: all 1s;
    transition-delay: 1s;
    overflow: hidden;
    position: absolute;
    top:0px;
    left:0px;
    transform: translate(140px, 180px);
    z-index: 999;
}

.MatcTestLogoCntrMax .MatcTestProgressCntr {
    transition-delay: 1s;
    height: 500px;
    width: 400px;
    background: #fefefe;
    border: 1px solid rgba(255,255,255,1);
	color:#333;
	border-radius:5px;
    box-shadow:0px 0px 10px rgba(0,0,0, 0.15);
    transform: translateY(-200px);
}

.MatcTestContent{
	padding:15px 40px;
    line-height: 2;
    width:400px;
    height:500px;
    text-align: left;
}

.MatcTestContentCntr{
    height: 380px;
    overflow: auto;
}

.MatcTestProgressCntr .MatcTestProgressBar{
    width: 0%;
    height: 5px;
    background: rgba(255,255,255,0.5);
    animation: sk-load 2s  ease-in-out normal forwards ;
    animation-iteration-count: 1;
    transition: all 0.2s;
}

.MatcTestLogoCntrMax .MatcTestProgressBar{

}


@keyframes sk-load {
    0% {
      width:0%;
    } 100% {
        width:100%;
    }
}



.MatcTestMenu{
	position: fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	color:#fff;
	transition: all 0.5s;
	left:0px;
	opacity:0;
}


.MatcTestMenu.MatcTestMenuMax{
	opacity:1;
	left:0px;
	width:100%;
	overflow: scroll;
	z-index: 999;
}


.MatcTestMenu .MatcTestMenuSectionHeader{
	font-size: 14px;
    text-align: center;
}

.MatcTestLogoCntr H1{
	text-shadow: none;
}

.MatcTestLogoCntr .MatcInfoBox {
	background: none;
    border: none;
    padding-top:20px;
    font-size: 16px;
    font-weight:300;
}

.MatchTestQRDialog{
	width:340px;
	height:400px;
}

.MatchTestQRDialogHint{
	margin: 15px;
    margin-top: 0px;
    width: 280px;
}


.MatcTestContent p{
	margin-bottom: 24px;
    font-size:16px;
}


.MatcTestContent h2{
    font-weight: 700;
	font-size:24px;
    margin-bottom: 16px;
}

.MatcTestContent h3{
    font-weight: 700;
    font-size:16px;
    margin:0px;
}

.MatcTestTaskDescription{
    font-size:16px;
    margin-bottom: 15px;
}

.MatcTestStartButton{
	width:100%;
	text-align: center;
}

.MatcTest .MatcSimulatorPrivacy{
	max-width: 600px;
	display: inline-block;
	position: static;
	width:100%;
	line-height: 2;
	border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background: #eee;
}

.MatcTestTask{
	margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    padding: 10px;
}

.MatcTestTask h3{
	font-weight: 400;
	font-size:16px;
	display: inline;
}

.MatcTestTask span{
	font-weight: 300;
	font-size:16px;
}

.MatcTestDesktopCntr{
	display: inline-block;
    margin-top: 32px;
    border-radius: 3px;
    display: inline-block;
    padding: 0px;
    margin-top: 16px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
    overflow: auto;
}

.MatcTest .MatchSimulatorWrapper{
   background: #fff;
   border: none;
   border-radius: 3px;
   display: inline-block;
   padding: 0px;
   margin-top: 48px;
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}


.MatcSimulatorSection{
	overflow: visible;
	position: relative;
}

.MatcTestBtnCntr{
	position: fixed;
	height: 100%;
	width:100px;
	top:0px;
	right:0px;
	background: organge;
}

.MatcTestQRButton{
 	color:#333;
 	transition:all 0.3s;
    border-radius: 50%;

    font-size: 24px;
    height: 50px;
    right: 20px;
    position: fixed;
    text-align: center;
    bottom: 20px;
    width: 50px;
    cursor: pointer;
}

.MatcTestQRButton:hover{
	color: #fff;
	background: #333 none repeat scroll 0 0;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 0.5s;
    transition-delay: 1s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    transition-delay: 1s;
}

.logoFade-enter-active, .logoFade-leave-active {
    transition: opacity 0.25s;
}

.logoFade-enter, .logoFade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}


body.MatcTestMobile{
	overflow:hidden;
}


.MatcTestTaskCntr {
    background: #fff;
    padding: 32px;
    width: 400px;
    position: fixed;
    height: 100%;
    top:0px;
    left:0px;
    height: 100%;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.15);
    transition: color 0.2s;
    overflow: auto;
    line-height: 1.5;
}

.MatcTestTaskCntr h1{
    font-size: 24px;
    font-weight: 700;
    display: none;
}

.MatcTestTaskCntr p{
    margin-top: 8px;
    transition: color 0.5s;
    display: none;
    line-height: 1.5;
}

.MatcTestTaskCntr h3{
    transition: color 0.5s;
    height: 32px;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.MatcTestTaskCntr .MatcTestTaskDescription {
    font-size: 16px;
    margin-bottom: 40px;
}

.MatcTestTaskCntr span.mdi{
    color: #92c500;
    font-size: 24px;
    margin-left: 16px;
}

.MatcTestVersion {
    color: #fff;
    position: fixed;
    bottom: 4px;
    left: 4px;
    z-index: 999;
    font-size: 10px;
}

.MatcTestTaskDone{
    color: #999;
}

.MatcTestCustomSplash .MatcLogoNew{
    display: none;
}

.MatcTestCustomSplash .MactMainGradient{
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}


.MatcTestCustomSplashPowered {
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
}