/****************************************************
 *  Toolbar
 ****************************************************/


 .MatcToolbar{
 	font-size: 14px;
 	background: #242a30;
 	height: 40px;
 }

 .MatcToolbar .MatcToobarLeft .glyphicons::before{
 	font-size: 18px;
	cursor: pointer;
 }


.MatcMultiIcon{
	position: relative;
	height: 18px;
}

.MatcToolbar .mdi{
	font-size: 18px;
	vertical-align: middle;
	line-height:1;
}

.MatcToolbar .MatcTinyIcon.mdi{
	bottom: 8px;
    font-size: 12px;
    position: absolute;
	right: 4px;
	opacity: 0;
}

.MatcToolbar .MatcMultiIcon:hover .MatcTinyIcon.mdi{
	opacity: 1;
}

.MatcIconMirror:before{
	transform:rotateY(180deg);
}


.MatcToolbar .MatcToobarItemBig .mdi {
	font-size: 24px;
	cursor: pointer;
}

 .MatcToolbar .glyphicons::before, .MatcToolbar .glyphicon {
	font-size: 16px;
	cursor: pointer;
}

.MatcToolbarSmallIcon.glyphicon, .MatcToolbarSmallIcon .glyphicon{
	font-size: 12px;
}

.MatcToolbarSpacer{
	width: 10px;
	display: inline-block;
}


.MatcToolbarButton{
	width:100%;
	text-align: center;
	font-size: 14px;
	background: #1973e8;
	text-decoration: none;
	color:#fff;
}

.MatcToolbarButton:HOVER{
	background: #1251a3;
	border-color:#1251a3;
}


.MatcToolbarIconNoSmooth .glyphicons,
.MatcToolbarIconNoSmooth .glyphicon {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smooth: auto;
	font-smooth: auto;
}

.MatcToobarPropertiesSection .glyphicons::before,
.MatcToobarPropertiesSection .glyphicon {
	font-size: 14px;
	cursor: pointer;
}


.MatcToolbar .vommondToolTip{
	z-index: 90010;
}

.MatcToolbar .vommondToolTipLabel,  .MatcToolbar .vommondToolTipArrow{
	background:#1973e8;
}

.MatcToolbarHintCntr{
	display: inline-block;
	vertical-align: middle;
	min-width:45px;
}

.MatcToolbarHintCntr .MatcToolbarItem {
	display: block;

}

.MatcToolbarHint{
	display: block;
	font-size: 10px;
	text-align: center;
}

.MatcToobarPropertiesSection .MatcToobarInput::placeholder{
	font-style: italic;
	color: rgba(255, 255, 255, 0.35)
}

.MatcToobarInputIconCntr {
	position: relative;
}

.MatcToobarInputIconCntr .MatcToobarInputIcon {
	position: absolute;
	top:10px;
	right: 10px;
	font-size: 14px;
}

/****************************************************
 * Grid System
 ****************************************************/
.MatcToolbarGridFull{
	width: 210px;
	display: block;
	font-size: 12px;
}

.MatcToolbarGridHalf{
	width: 100px;
	display: inline-block;
	font-size: 12px;
}

.MatcToolbarFlexCntr{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.MatcToobarPropertiesSection .MatcToolbarItem.MatcToolbarGridFull{
	text-align: left;
}

.MatcToolbarItem{
	padding: 8px;
 	color:#FFF;
 	transition-duration: 0.5s;
	transition-property:opacity;
	display: inline-block;
	color:#ddd;
	min-width: 40px;
	height:40px;
	text-align: center;
	cursor: pointer;
	vertical-align: top;
 }

 .MatcToobarPropertiesSection .MatcToolbarItem.MatcToolbarItemSmall{
 	min-width: 16.665%;
	height:30px;
 }

 .MatcToobarPropertiesSection .MatcToolbarItem.MatcToolbarAlignButton{
  	width:25px;
	height:30px;
	min-width: 25px;
 }


.MatcToolbarItem:hover{
	text-decoration: none;
	color:#FFF;
}

.MatcToobarLeft .MatcToolbarItem:hover,
.MatcToolbarTop .MatcToolbarItem:hover{
	color:#fff;
}


.MatcIconBox{
	height: 20px;
	width:20px;
	display: inline-block;
	border-radius:2px;
}

.MatcToolbarItemIcon{
	cursor: pointer;
}

.MatcIconCircle{
	border-radius: 50%;
    display: inline-block;
    height: 16px;
    vertical-align: middle;
    width: 16px;
}



.MatcToolbarItemDisbaled{
	color:#555;
	cursor: auto;
}

.MatcToolbarItemActive{
	background: rgba(0,0,0,0.4);
	color: #eee;
}


.MatcToobarPropertiesSection .MatcToolbarItemActive{
	background: #242a30;
}

.MatcToobarPropertiesSection .MatcToolbarItemPassive{
	opacity:0.25;
}



.MatcToolbarItemHidden{
	display: none;
}

.MatcToolbarItem.MatcToolbarItemDisbaled:HOVER{
	color:#555;
}

.MatcToolbarIcon{

}

.MatcToolbarLabel{
	font-size: 14px;
	font-weight: 400;
	margin-left: 10px;
	margin-bottom: 0px;
	vertical-align: middle;
}

.MatcToolbarInfo{
	padding-left: 20px;
}

.MatcToolbarItemIcon{
	margin-right: 5px;
	margin-bottom: 0px;
}


.MatcToolbarIconAddLogic.mdi:before{
	transform:rotate(45deg);
}


/****************************************************
 * Header / ItemBig
 ****************************************************/


 .MatcToolbarTop{
 	z-index: 91002;
 	left: 0px;
    position: fixed;
    top: 0;
    background: #242a30;
	width: 100%;
	display: flex;
	justify-content: flex-start;
	flex-direction: row;
 }

 .MatcToolbarTopCntr{
	display: inline-block;
	height: 40px;
	width: calc(100% - 40px);
 }


 .MatcToobarPropertiesSection{
 	position: fixed;
 	height: 100%;
 	width:230px;
 	top:0px;
 	right:0px;
 	padding-top: 39px;
 	padding-bottom: 30px;
 	transition-duration: 0.2s;
 	opacity:1;
 	z-index: 91001;
 	background: #242a30;
 	background:#1a1f23;
 }

.MatcToobarLeft{
	position: fixed;
 	background: #242a30;
    height: 100%;
    position: fixed;
    width: 40px;
    z-index: 91001;
	margin-top: 40px;
	margin-bottom: 40px;
    text-align: center;
}

.MatcToobarLeft .MatcToolbarItem{
	display: inline-block;
	cursor: pointer;
	margin-bottom: 10px;
}

.MatcToobarLeft .MatcCreateBtn .MatcToolbarLabel{
	display: none;
}

.MatcToobarLeft .MatcToolbarPopUp{
	top:0px;
	left:115%;
	right:auto;
}

.MatcToobarLeft .MatcCreateBtn .MatcToolbarPopUp{
	top:-60px;

}


.MatcToolbarMoveHiddden .MatcToolbarMove{
	display: none;
}

/****************************************************
 * Header / ItemBig
 ****************************************************/

.MatcToobarItemBig{
	height: 40px;
	min-width: 40px;
	display: inline-block;
	color:#fff;
	vertical-align: top;
	text-align: center;
}

.MatcToobarItemBig .MatcToolbarLabel{
	margin-left: 5px;
	margin-right: 5px;
}

.MatcToobarItemBig .MatcToolbarItem{
	color: #fff;
}

.MatcToobarItemBig .MatcToolbarItem:hover{
	color: #fff;
}

.MatcToobarItemBig .caret{
	display: none;
}

.MatcToobarItemBig .MatcToolbarItemIcon{
	margin: 0px;
}

/****************************************************
 * Sign Up Section
 ****************************************************/
.MatcToobarSignUpSection{
	background: #83b600;
	color:#fff;
	position:fixed;
	top:0px;
	right:0px;
	width: 230px;
	text-align: center;
}

.MatcToobarSignUpSection:hover{
	background: #75a800;
}

.MatcToobarSignUpSection.MatcToolbarSection a{
	color:#fff;
}

.MatcToobarSignUpSection.MatcToolbarSection:hover a{
	color:#fff;
}

/****************************************************
 * View Up Section
 ****************************************************/

.MatcToobarViewSection{
	position:fixed;
	bottom:0px;
	right:-230px;
	width: 230px;
	height:24px;
	z-index: 92001;
	transition-duration: 0.2s;
	overflow: hidden;
	background: #242a30;
	border-top: 1px solid #1a1f23;
}


.MatcToobarPropertiesSection .MatcToobarViewSection .MatcToolbarToggleButton,
.MatcToobarPropertiesSection .MatcToobarViewSection .MatcToolbarToggleButton:hover{
	border:none
}


.MatcToobarViewSectionVisible.MatcToobarViewSection{
	right: 0px;
}

.MatcToobarPropertiesSection .MatcToobarViewSection .MatcToolbarItem{
	margin:0px;
	height: 24px;
	padding: 2px 15px;
}

.MatcToobarViewSection .MatcToolbarItem:hover{
	color:#ccc;
}

.MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive{
	background:#1973e8;
	color: #fff;
}

.MatcToobarViewSection .MatcToolbarItem.MatcToolbarItemActive:hover{
	background:#1973e8;
	color: #fff;
}

.MatcToolbarIcon-vertical{
	height: 14px;
	width: 14px;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	margin-top: 2px;
}

.MatcToolbarIcon-vertical-bar{
	display: inline-block;
	width:14px;
	height: 4px;
	margin-top: 4px;
	vertical-align: top;
	background-color: #ddd ;

}

.MatcToolbarIcon-horizontal{
	height: 14px;
	width: 14px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	display: inline-block;
	margin-top: 2px;
}

.MatcToolbarIcon-horizontal-bar{
	display: inline-block;
	height:14px;
	width: 4px;
	vertical-align: top;
	background-color: #ddd ;

}

/****************************************************
 * Data Section
 ****************************************************/
 .MatcDataSection span.caret{
 	display: none;
 }

 .MatcToobarPropertiesSection .MatcDataSection .MatcToolbarItemLabelHack{
 	margin-left:0px;
 }

  .MatcToobarPropertiesSection .MatcDataSection .MatcToolbarDropnDownSmall{
 	width:24px;
 	min-width:auto;
 }

 .MatcToolbar .MatcDataSection .MatcToolbarInputDropDownButton input{
 	width:100%;
 }

 .MatcToobarPropertiesSection .MatcDataSection .MatcToolbarItem{

 }

.MatcDataSectionDialog{
	min-height: 200px;

}

.MatcDataSettingsPopUp{
	font-size: 14px;
}

.MatcDateSectionIconCntr{
	width: 100%;
	height: 450px;
}

.MatcDateSectionIconCntr table{
	width: 100%;
}

.MatcDateSectionIconCntr .mdi{
	font-size: 30px;
	padding: 10px;
	margin: 9px;
	cursor: pointer;
	display: inline-block;
	line-height:1;
}


/****************************************************
 * Action Button
 ****************************************************/
.MatcChildSection{

}

.MatcChildSectionChild{
	cursor: pointer;
}

.MatcChildSectionChild.MatcToolbarItem {
	height: auto;
	padding-top: 0px;
	padding-bottom: 5px;
}




/****************************************************
 * ScreenImportButton
 ****************************************************/
.MatcScreenImportCntr{
	width: 250px;
	height: 250px;
	text-align: center;
}

.MatcScreenImportCntr .MatcUploadBtn2{

}


/****************************************************
 * Create Button
 ****************************************************/

.MatcCreateBtnCntr{
	width: 1200px;
}

.MatcScreenImportAdd .MatcScreenAddCntr{
	min-width: 600px;

}

.MatcScreenImportAdd .MatcToolbarPopUpArrowCntr{
	top:15px;
	left: auto;
	right:100%;
}

.MatcScreenImportAdd .MatcToolbarPopUpArrowCntr .MatcToolbarPopUpArrow{
	left: auto;
	right:-10px;
}

.MatcScreenAddCntr .MatcHint{
	margin-bottom: 20px;
	font-size: 20px;
}

.MatcScreenAddCntr .MatcUploader{
	margin-top: 30px;
}


/****************************************************
 * Item DropDown
 ****************************************************/

.MatcToolbarDropDownButtonItem{
	border:1px solid transparent;
	transition: all 0.2s;
	border-radius:3px;
	background: #f2f2f2;
}

.MatcToolbarDropDownButtonItem:HOVER,
.MatcCreateBtnElementSelected.MatcToolbarDropDownButtonItem{
	border:1px solid #1973e8;
}

/****************************************************
 * Add Section
 ****************************************************/
.MatcToolbarAddSection{
 	background: #92c500;
	transition-duration: 0.2s;
}

.MatcToolbarAddSection:HOVER{
 	background: #6da000;
}

.MatcToolbarAddSection.MatcCreateHighlight{
	background: #ffc641
}

.MatcToolbarAddSection.MatcCreateHighlight:HOVER{
	background: #ffbd21;
}


/****************************************************
 * Home Section
 ****************************************************/

 .MatcToobarHomeSection{
 	background: #1973e8;
 	transition-duration: 0.25s;
 }

.MatcToobarHomeSection:HOVER{
 	background: #1251a3;
}

.MatcToobarHomeSection .MatcToolbarPopUp{
 	width: 200px;
}

/****************************************************
 * Preview Section
 ****************************************************/

.MatcToobarPreviewSection{
	position: fixed;
 	background: #242a30;
 	height: 100%;
 	width:230px;
 	top:0px;
 	left:-180px;
 	transition-duration: 0.2s;
 	opacity:1;
}

.MatcToobarPropertiesSectionCntr{

}

.MatcToobarPreviewSection:hover{
	left:0px;
}

/****************************************************
 * Properties Section
 ****************************************************/


 .MatcToobarPropertiesSection.MatcToolbarSectionHidden{
 	overflow: hidden;
 	width: 0px;
 	display: block;
 }

.MatcToobarPropertiesSection .MatcToolbarSection{
 	display: block;
 	border-right:0px;
 	padding:0px;
 	width:230px;
 	height:auto;
}

.MatcToobarPropertiesSection .MatcToolbarSectionLabel{
	position: relative;
	border-top:1px solid #1a1f23;
	border-top: 1px solid #242a30;
    background: none;
	color: #777;
	text-align: left;
	padding-left: 16px;
	background: #242a30
}

.MatcToolbarSectionChevron{
	position: absolute;
	right:15px;
	top:2px;
	width: 18px;
	text-align:center;
	height: 18px;
    transition-duration: 0.2s;
	transition-property:transform;
}

.MatcToolbarSectionCollabsed .MatcToolbarSectionChevron{
	 transform: rotate(180deg);
	 transform-origin: 50% 50%;
}

.MatcToolbarSectionSettingsIcon{
	position: absolute;
	right:35px;
	top:5px;
	width: 18px;
	text-align:center;
	opacity:1;
	height: 18px;
    transition-duration: 0.2s;
	transition-property:transform;
}

.MatcToolbar .MatcToolbarSectionSettingsIcon.mdi{
	font-size:14px;
}

.MatcToolbarSectionCollabsed .MatcToolbarSectionSettingsIcon{
	opacity:0;
}

.MatcToolbarChildSection{

	}

.MatcToolbarSectionCollabsed .MatcToolbarChildSection{
	display: none;
}

.MatcToobarPropertiesSection .MatcToolbarSeperator{
	border: none;
	display: block;
	margin: 0px;
	width: 100%;
	height:10px;
}

.MatcToobarPropertiesSection .MatcToobarRow{

}


.MatcToobarPropertiesSection .MatcToolbarSectionContent{
	padding: 5px 10px;
	width: 230px;
}

.MatcToobarPropertiesSection .MatcToolbarPopUp{
	top: 0px;
	right:100%;
	left: auto;
}

.MatcToobarPropertiesSection .MatcToolbarItem{
	min-width: 45px;
	text-align: center;
	vertical-align: middle;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 34px;
}

.MatcToobarPropertiesSection .MatcToolbarItem.MatcToolbarItemLeft{
	text-align: left;
}


.MatcToobarPropertiesSection .VommondCheckBoxLabel,
.MatcToobarPropertiesSection .MatcToolbarItemLabel,
.MatcToobarPropertiesSection .VommondRadioBoxLabel{
	font-size: 12px;
	margin-left: 7px;
	margin-right: 10px;
    color:#ddd;
    vertical-align: top;
}


.MatcToobarPropertiesSection .MatcToolbarSubSection{
	padding-left: 15px;
}




/****************************************************
 *  Analytic Stuff
 ****************************************************/
.MatcToobarPropertiesSection .MatcDashLabel{
	font-size: 12px;
	height: auto;
	margin-bottom: 5px;
	color:#ddd;
}

.MatcToobarPropertiesSection .MatcDashRingValue{
	font-size: 20px;
	color:#ddd;
}

.MatcToobarRowIconCntr{
	position: relative;
}
.MatcToobarRowRightIcon {
	position: absolute;
	right:0px;
	top:9px;
	color:#ddd;
	cursor: pointer;
}

.MatcToobarRowRightIcon:HOVER{
	color:#1973e8;
}

.MatcToolBarNumberCntr{
	display: inline-block;
	width:120px;
	height: 100px;
	color:#ddd;
}

.MatcToolbarBigLabel{
	font-size: 70px;
	line-height: 1;
}

.MatcToolbarDetailLabel{
	font-size: 14px;
	font-size:italic;
	line-height: 1;
}


.MatcToolbar .MatcHelpIcon{
	font-size: 15px;
    vertical-align: top;
    cursor: pointer;
}


/****************************************************
 *  Sections
 ****************************************************/

 .MatcToolbarSection{
 	border-right: 1px solid #555;
    padding: 0 8px;
    vertical-align: top;
    display: inline-block;
    transition-duration: 0.5s;
	transition-property:opacity;

	height: 40px;
}

.MatcToolbarSectionContent{
	display: inline-block;
}

.MatcToolbarSectionCollabsed .MatcToolbarSectionContent{
	display: none;
}

.MatcToolbarSectionCollabsed  .MatcToolbarSectionLabel{

}

.MatcToolbarSectionLabel{
	  border-bottom: 1px solid transparent;
	  padding: 3px 0px;
	  display: block;
	  text-align: center;
	  font-weight: 400;
	  font-size: 12px;
	  color:#ddd;
	  cursor: pointer;
}

 .MatcToolbarSectionMarker{
 	display: none;
 }

 .MatcToolbarTemplateMarkerVisible .MatcToolbarSectionMarker{
 	display: inline;
 }

.MatcToolbarSection:hover .MatcToolbarSectionLabel{

}


.MatcToolbarSubSection{
	display: inline-block;
	vertical-align: top;
}

.MatcToolbarSectionHidden, .MatcToolbarSectionHidden.MatcToolbarItem, .MatcToolbarSectionHidden.MatcToolbarSection{
	display: none;
}


.MatcToolbarSeperator{
   display: inline-block;
   width: 1px;
   height:40px;
   vertical-align:middle;
   border-right: 1px solid #555;
   margin-left: 10px;
   margin-right: 10px;
}







/****************************************************
* Tab Container
****************************************************/
.MatcToolbarTabContainer{
	padding: 8px;
	padding-top: 0px;
}

.MatcToolbarTabs{
	text-align: center;
}

.MatcToolbarTabs a{
	margin-right: 5px;
	font-size: 12px;
	padding: 5px;
	display: inline-block;
	cursor: pointer;
	color: #ddd;
	text-decoration: none;
	border-bottom: 1px solid transparent;
}

.MatcToolbarTabsBig.MatcToolbarTabs{
	text-align: left;
}

.MatcToolbarTabsBig a{
	margin-right: 5px;
	font-size: 18px;
	padding: 5px;
}

.MatcToolbarTabs a:HOVER{
	color: #fff;
}

.MatcToolbarTabs a.MatcToolbarTabActive{
	border-bottom: 1px solid #1973e8;
	color: #333;
}


/****************************************************
* Popup Tabs
****************************************************/
.MatcToolbarPopUp .MatcToolbarTabContainer{
	padding: 0px;
	padding-bottom: 8px;
	padding-top: 8px;
}

.MatcToolbarPopUp .MatcToolbarTabContainer a,
.MatcCode.MatcToolbarTabContainer a{
	color:#777;
	margin:0px;
	border-bottom: 2px solid transparent;
	margin-bottom: -1px;
	padding: 5px 15px;
}

.MatcToolbarPopUp .MatcToolbarTabContainer a:HOVER{
	border-bottom: 2px solid #1973e8;
}

.MatcToolbarPopUp .MatcToolbarTabContainer a:HOVER{
	color:#1973e8;
}


.MatcToolbarPopUp .MatcToolbarTabContainer a.MatcToolbarTabActive,
.MatcCode.MatcToolbarTabContainer a.MatcToolbarTabActive{
	border-bottom: 2px solid #1973e8;
	color:#555;
}


/****************************************************
* Help
****************************************************/

.MatcResizeDialog{
	width: 600px;
	height: auto;
}

.MatcShortCutDialog{
	width: 800px;
	height: auto;
}

.MatcToolbarHelpKeyCntr{
	min-height: 300px;
	max-height: 550px;

}

.MatcToolbarHelpKeyCntr td{
	margin-bottom: 10px;
}

.MatcToolbarHelpKeyBlock{
	border: 1px solid #777;
    border-radius: 5px;
    display: inline-block;
 	color:#333;
    margin-right: 10px;
    min-width: 40px;
    padding: 5px;
    text-align: center;

}

.MatcToolbarHelpKeyBlockTxt{
	display: inline-block;
	padding: 15px 5px 5px;
	color:#333;
}


/****************************************************
 * Notification Section
 ****************************************************/
 .MatcToolbarNotificationSection{
	position: fixed;
    top: 0px;
    right: 0px;
    width: 320px;
    padding: 0px;
    border: none;
	text-align: right;
 }

/****************************************************
 * View Config Section
 ****************************************************/
 .MatcToolbarViewConfig {
	 min-width: 50px;

 }

.MatcToolbarViewConfig .MatcToolbarLabel{
	width: 50px;
}

.MatcToolbarViewConfig .MatcToolbarPopUpArrowCntr{
	top:-10px;
	left: calc(50% - 10px);
	width:20px;
}

.MatcToolbarViewConfig .MatcToolbarPopUpArrow{
	left: 0px;
	top:5px
}

 .MatcToolbarViewConfig .MatcToolbarViewConfigPopup{
	width: 170px;
	min-height: 100px;
	left: auto;
	right:0px;
	top:calc(100% - 0px);
	padding: 10px 0px;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	font-size: 14px;
    font-weight: 400;
 }

 .MatcToolbarViewConfigBtn:hover{
	color:#1973e8;
	cursor: pointer;
 }

 .MatcToolbarViewConfigCntrRow {
	 margin-bottom: 10px;
	 padding: 0px 20px;
 }

 .MatcToolbarViewConfigCntrRow:last-child{
	 margin-bottom: 0px;
 }

 div.MatcToolbarViewConfigCntrSpace {
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid rgba(0,0,0,0.15);
 }

 .MatcToolbarViewConfigZoomLabel {
	width: 80px;
	display: inline-block;
	text-align: center;
 }

 /****************************************************
 * View Config Section
 ****************************************************/
 .MatcToolbarEditMode{
	padding-top: 4px;
	display: inline-block;
 }

.MatcToolbarEditMode a.MatcToolbarItem{
	font-size: 14px;
	display: inline-block;
	padding: 4px 8px;
	border-radius: 3px;
	height: auto;
	transition: all 0.2s;
}

.MatcToolbarEditMode a.MatcToolbarEditModeActive{
	background-color: #1973e8;
	color: #fff;
}

.MatcToolbar .MatcToolbarEditMode a.MatcToolbarEditModeActive:hover{
	background-color: #1251a3;
	color: #fff;
}
