	
	background: rgb(73,192,240); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(73,192,240,1) 0%, rgba(7,242,167,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(73,192,240,1)), color-stop(100%,rgba(7,242,167,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(73,192,240,1) 0%,rgba(7,242,167,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(73,192,240,1) 0%,rgba(7,242,167,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(73,192,240,1) 0%,rgba(7,242,167,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(73,192,240,1) 0%,rgba(7,242,167,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#07f2a7',GradientType=1 ); /* IE6-9 */
