.MatcTree{
  margin: 0px;
  padding:0px;

}

.MatcTreeItem {
  border-top: 2px solid transparent;
  color: #555;
}

.MatcTreeItem.MatcTreeItemDragOver {
  border-top: 2px solid #1973e8;
}

.MatcTreeItemRow{
  position: relative;
  display: flex;
  align-items: center;
}

.MatcTreeItemRow:hover{
  color: #333;
}

.MatcTreeItem.MatcTreeItemSelected,
.MatcTreeItemSelected .MatcTreeItem{
  background: #1973e8;
  color: #fff;
}

.MatcTreeItemSelected .MatcTreeItemRow:hover{
  color: #fff;
}

.MatcTreeItemLabel {
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0px 0px 10px;
  cursor: pointer;
}

input.MatcTreeItemLabel {
  width: calc(100% - 30px);
}

.MatcTree ul {
  list-style: none;
  margin: 0px;
  padding:0px;
}

.MatcTree ul li{
  width: calc(100% - 16px);
  margin-left: 4px;
}

.MatcTree ul li ul{
  margin-left: 10px;
}

.MatcTree .MatcTreeIcon {
  display: inline-block;
  width: 16px;
  height: 16px;
}

.MatcTree .MatcTreeToggleChildrenIcon {
  cursor: pointer;
  color: #aaaaaa;
}

.MatcTree .MatcTreeToggleChildrenIcon:hover {
  color: #555555;
}

.MatcTree .MatcTreeIcon.MatcTreeIconClosed {
  transform:rotate(-90deg);
  transform-origin: 50% 50%;
  color:red;
}

.MatcDark .MatcTreeItem {
  color:#ddd;
}

.MatcDark .MatcTreeItemRow:hover{
  color: #ddd;
}

.MatcDark .MatcTreeItem .mdi {
  color: #999;
}

.MatcDark .MatcTreeItem.MatcTreeItemSelected .mdi {
  color: #fff;
}

.MatcTreeItemRow .MatcTreeItemOptions{
  display: none;
}

.MatcTreeItemRow .MatcTreeItemOptions .mdi{
  font-size: 16px;
  cursor: pointer;
}


.MatcTreeItemRow:hover .MatcTreeItemOptions,
.MatcTreeItemRow.MatcTreeItemOptionsVisible .MatcTreeItemOptions,
.MatcTreeItemSelected .MatcTreeItemRow .MatcTreeItemOptions{
  display: block;
  position: absolute;
  right: 2px;
  top: 4px;
}

.MatcTreeItemSelected .MatcTreeItemRow .MatcTreeItemOptions .mdi{
  color:#fff;
}