.MatcTree{
  margin: 0px;
  padding:0px;

}

.MatcTreeItem {
  border-top: 2px solid transparent;
  color: #555;
}

.MatcTreeItem.MatcTreeItemDragOver {
  border-top: 2px solid #1973e8;
}

.MatcTreeItemRow:hover{
  color: #333;
}

.MatcTreeItem.MatcTreeItemSelected,
.MatcTreeItemSelected .MatcTreeItem{
  background: #1973e8;
  color: #fff;
}

.MatcTreeItemSelected .MatcTreeItemRow:hover{
  color: #fff;
}

.MatcTreeItemLabel {
  font-weight: 400;
  font-size: 12px;
  padding: 5px 0px 0px 10px;
  cursor: pointer;
}

input.MatcTreeItemLabel {
  width: calc(100% - 30px);
}

.MatcTree ul {
  list-style: none;
  margin: 0px;
  padding:0px;
}

.MatcTree ul li{
  width: calc(100% - 20px);
  margin-left: 15px;
}

.MatcTree .MatcTreeIcon {
  display: inline-block;
  width: 20px;
}

.MatcTree .MatcTreeIcon.MatcTreeIconClosed {
  transform:rotate(-90deg);
  transform-origin: 50% 50%;
  color:red;
}

.MatcDark .MatcTreeItem {
  color:#ddd;
}

.MatcDark .MatcTreeItemRow:hover{
  color: #ddd;
}

.MatcDark .MatcTreeItem .mdi {
  color: #999;
}

.MatcDark .MatcTreeItem.MatcTreeItemSelected .mdi {
  color: #fff;
}