$main_color: #365fff;

$primary_color: #365fff;
$primary_color-hover: #123ef0;

$toolbar_height: 48px;
$toolbar_background: #25292F;
$toolbar_color: #fff;
$toolbar_color_hover: #fff;
$toolbar_color_passive: #777;
$toolbar_color_disabled: #555;
$toolbar_selected_background: #16191b;
$toolbar_border: #2f353a; // rgba(255,255,255,0.08);
$toolbar_padding:8px;

$toolbar_form_background: $toolbar_background;
$toolbar_form_active_background: #202427;
$toolbar_form_background_hover: #202427;
$toolbar_form_background_focus: #16191b;
$toolbar_form_border: $toolbar_border;
$toolbar_form_border_hover: $toolbar_border;
$toolbar_form_border_focus: rgba(255,255,255,0.16);;
$toolbar_form_radius: 2px;

$color_picker_border: rgba(255,255,255, 0.25);
$color_picker_border-hover: rgba(255,255,255, 0.35);


$layerlist_background: red;
$layerlist_selected: $toolbar_selected_background;

$create_element_background: #485870;

$popup_color: #fff;
$popup_color_passive: #555;
$popup_border: $toolbar_border;
$popup_background: $toolbar_selected_background;
$popup_radius: 4px;
$popup_font_size: 14px;
$popup_padding: 4px 8px;
$popup_shadow: none;
$popup_line: 1px solid rgba(255, 255, 255, 0.08);
$popup_form_border: $toolbar_border;
$popup_form_border_hover: $toolbar_border;
$popup_form_border_focus: $toolbar_border;
$popup_form_background: $toolbar_form_background;
$popup_form_background_hover: $toolbar_form_background_hover;
$popup_form_background_focus: $toolbar_form_background_hover;

$text-color-passive: #ccc;
$text-color-dark: #363636;
$color-danger: #f83a3a;
$color-passive: #777;

$button-radius: 4px;
$button-radius-input: 2px;
$button-radius-l: 8px;

$color-black: #000;
$color-red: #f94c4c;
$color-red-dark: #f83a3a;
$color-red-light: #f7dddd;

$table-background:rgb(245, 245, 245);
$table-selected: #d6e5f8;

$input_border: #dbdbdb;
$input_border_focus: #b5b5b5;

$form-height:34px;

$spacing-xxxl:96px;
$spacing-xxl:64px;
$spacing-xl:40px;
$spacing-lx:32px;
$spacing-l:24px;
$spacing-m:16px;
$spacing-s:8px;
$spacing-xs:4px;

$font-weight: 400;
$font-weight-l: 500;
$font-family: Source Sans Pro, Helvetica, Arial, sans-serif;

$font-size-xxl: 1.8rem;
$font-size-xl: 1.6rem;
$font-size-l: 24px;
$font-size-m: 24px;
$font-size-default: 18px;
$font-size-s: 16px;
$font-size-xs: 14px;
$font-size-xxs: 12px;


