.TaskCreateDialog{

  width: 1200px;
  height: 700px;

  .TaskCreateDialogCntr {
    display: flex;

    .FormCntr{
      width: 600px;

      textarea{
        height: 100px;
      }


    }

    .StepCntr {
      height: 200px;
      overflow: scroll;
      border-radius: 4px;


      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      align-items: flex-start;
      align-content: flex-start;

      .Step {
        display: inline-block;

        .StepDetails {
          padding: 8px 16px;

          border: 1px solid #dbdbdb;
          border-radius: 4px;
          display: flex;
          align-items: center;
          position: relative;
          transition: all 0.2s;


          &:hover{
            border-color:#f83a3a ;
          }

          .removePopup {
            position: absolute;
            width: 100%;
            height: 100%;
            top:0px;
            left:0px;
            background: #f83a3a;
            text-align: center;
            opacity: 0;
            transition: all 0.2s;
            cursor: pointer;
            padding: 8px;

            &:hover {
              opacity: 1;
            }
          }


          span {
            opacity: 0;
            color: #fff;
            cursor: pointer;
            transition: all 0.2;

          }
          &:hover span{
            opacity: 1;
          }
        }
      }
    }

    .SimCntr{
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .SimWrapper {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
      }

    }

  }



}