@import '../variables.scss';

.MatcToolbarTable{
	width: 1030px;
	font-size: 14px;
	border-radius: 3px;
	position: relative;
	overflow: hidden;

	thead .MatcToolbarTableLabel{
		position: relative;
		text-align: center;
		color: #777;
		display: flex;

		.vommondInlineEdit{
			border: 1px solid transparent;
			width: auto;
			margin: 2px 24px;
			height: auto;
			padding: 2px;
			box-sizing: border-box;
			background: none;
			flex-grow: 1;
			text-align: center;
		}
	}

	table{
		border-collapse: separate;
		border-spacing: 0; /* remove border gaps */
	}

	.MatcToolbarTableBody{
		height: 400px;
		overflow: auto;
	}
	
	.MatcToolbarTableReizeCol td{
		cursor: col-resize;
	}

	.MatcToolbarTableBody td{
		border-top:1px solid #cecece !important;
		border-left:1px solid #cecece;
		padding: 0px;
	}
	
	.MatcToolbarTableBody table thead tr.MatcToolbarTableHead td{
		border-top:0px !important;
		padding: 0px;
	}

	input{
		border:none;
		width: 100%;
		height: 100%;
		outline: none;
	}

	.MatcToolbarTableLabelRow input {
		font-weight: 700;
	}
	
	input:focus {
		border: medium none;
		height: 100%;
		width: 100%;
		outline: none;
	}
	
	.MatcToolbarTableInputFocus{
		background: $table-selected;
	}

	thead td{
		text-align: center;
		background: $table-background;
		color:#cecece;
	}
	
	.MatcToolbarTableBody tr td:FIRST-CHILD,  
	.MatcToolbarTableBody tr td:FIRST-CHILD{
		text-align: center;
		background: $table-background;
		width: 30px;
		vertical-align: inherit;
		color: #777;
		border-left: none;
	}


	.MatcToolbarTableHidden{
		opacity:0;
		height: 0px;
		padding: 0px;
		overflow: hidden;
	}

	.MatcToolbarTableColumnHandle{
		position: absolute;
		height: 100%;
		top:0px;
		right:-4px;
		width: 9px;
		background: transparent;
		cursor: col-resize;
	}
	
	.MatcToolbarTableColumnHandle:HOVER, .MatcToolbarTableColumnHandle.MatcToolbarTableColumnHandleSelected{
		background: $main_color;
	}
	
	.MatcToolbarTableUpload{
		position: relative;
		display: inline-block;
	}
	
	.MatcToolbarTableUpload:hover a{
		text-decoration: underline;
	}
}



.MatcFormRowDND{
	display: flex;
	align-items: center;
	gap: 4px;
	height: 34px;
}

.MatcFormRowDND .MatcQIcon{
	margin-left: -5px;
	margin-top: 2px;
	font-size: 18px;
	cursor: grab;
	line-height: 1;
}




